[2015-02-25 01:55] mjsabby opened #1 "Update Kaleidoscope Chapters 3, 4 and 5 to use MCJIT"
Since JIT is no longer available in LLVM 3.6, moving to MCJIT is essential as folks try to run the tutorial and find that it's mysteriously broken.

[2015-02-25 01:56] mjsabby opened #2 "Add Kaleidoscope Chapters 6, 7 and 8"
Chapters 6 and 7 take priority.

Chapter 8 is instructive of DWARF and debugging in general, but is less pressing.

[2015-04-01 22:04] halivingston opened #3 "LLVM.SetGC("shadow-stack") causes AccessViolationException"
I've asked this on the LLVM mailing lists but have got no traction. I've even opened a bug:

https://llvm.org/bugs/show_bug.cgi?id=23095

I'm opening a bug here because it means LLVMSharp can't set gc information on a function

[2015-04-01 22:35] mjsabby commented on #3
You need to link in shadow stack GC. The problem is that they are not exposed via C bindings.

I have a review out to LLVM folks: http://reviews.llvm.org/D8788

[2015-04-29 23:22] TChatzigiannakis opened #4 "LLVM.InitializeAll*() functions don't exist in the bundled libLLVM.dll (nuget)"
I've found a list of functions that are declared in LLVMSharp 3.6.0 but they are not visible in the x86 or x64 version of the libLLVM.dll provided in the nuget package. Calling them throws a `System.EntryPointNotFoundException`. Their absence can also be verified using Dependency Walker.

The functions in question are:

- LLVM.InitializeAllTargets()
- LLVM.InitializeAllTargetInfos()
- LLVM.Initial

[2015-04-29 23:34] mjsabby commented on #4
Thanks for the bug report. You are right, the exports.def is not picking up these functions. I've not yet investigated why, but that is the reason why it's not in the dll.

You have two options:

(1) Hack the GenLLVMDLL.ps1 to stop on the exports.def generation, add these functions then call the linker
(2) Add it in your client code to just loop and call the target functions (I know, it sucks ..)

[2015-04-29 23:35] mjsabby commented on #3
The code review is still pending, but I'm going to provide a fix for it as a wrapper on both Linux and Windows in the next release which is going to happen co-inciding with LLVM 3.6.1 (so about a week or so)

[2015-04-29 23:40] mjsabby opened #5 "Add Object Oriented API that mirrors C++ API with objects for each instruction, value, etc."
I've gotten feedback for the project (offline) that suggests that the debugging experience of the IR would be considerably better if we could dump the instructions that LLVMSharp is building so that one could use a debugger to visualize the data structure of a module, basic block, etc.

My assessment: The benefit is pretty clear. One of the best parts about developing in C# is the debugging experi

[2015-04-29 23:43] TChatzigiannakis commented on #4
It's not a problem to work around this from client code (especially using reflection, to automate the lookup and invocations).

I just found a few more:

- LLVM.InitializeNativeTarget()
- LLVM.InitializeNativeAsmPrinter()
- LLVM.InitializeNativeAsmParser()
- LLVM.InitializeNativeDisassembler()

The rest seem to be available, unless I've missed anything.

[2015-04-29 23:48] mjsabby opened #6 "Add Fluent API like Expression-Trees"
Wouldn't it be cool to do the following -

Module.Create("Foo")
            .Method("Bar")
            .CreateAlloca("a")
            .Store("b")

We'll also need APIs like

Module.Create("Foo")
            .Method("Bar")
            .SwitchInst("a")
            .Cases("b")
            .Cases("c")

In the above case (no pun intended) we return the SwitchInst back. This will require some manual tho

[2015-04-30 14:41] TChatzigiannakis commented on #5
Is it going to be generated from the LLVM C++ code base, or is it going to just mirror the C++ API while using the existing C/C# bindings behind the scenes?

If you're going for the latter, I could contribute to some degree, if you'd like (maybe in a separate branch/fork?).

[2015-04-30 17:42] mjsabby commented on #5
It's the latter, and I absolutely would love help.

Take a look at: https://github.com/mjsabby/LLVMSharp/tree/OOAPIWorkInProgress

You can add to that.

I've got all the inheritance hierarchy with no code in the classes already there. It's a matter of filling them in.

Here's how I'm thinking about priority:

(1) IRBuilder
    (a) Add all the C++ variants like CreateRet ... from their doxygen docu

[2015-05-01 06:41] mjsabby commented on #5
I've updated the master branch with seed code, auto genned, so now the process starts to make it use the classes (instead of structs) in the OOAPIWorkInProgress branch. I'm sure there will be some merge issues. Sigh.

[2015-05-02 07:29] TChatzigiannakis opened #10 "Suggestions on value comparisons"
Suggesting to introduce intuitive value comparisons for all LLVM types (structs and classes), reasoning:

1. The C API structs' only job is to reference the internal data structures of LLVM. Thus, it makes sense that two struct instances that point to the same internal data structure of LLVM (same type, for example), should compare as equal.
2. The OOP API classes' only job is to wrap around the C

[2015-05-02 07:37] mjsabby commented on #10
Yes, I agree. Implementing IEquatable<T> is a fine next step.

Just to be clear, I still want to keep the struct-style API available for 2 reasons:

(1) Previous users of LLVMSharp

(2) Prior to the implicit conversions, we were not allocating managed objects, but now the implicit conversion cause boxing, which some people may not want, including my own internal use-case.

So if you're adding code

[2015-05-02 07:38] TChatzigiannakis opened #11 "Suggestion to change implicit operator bool(LLVMValueRef) to explicit"
There is an `implicit operator bool(LLVMValueRef)`. I suggest we make it explicit (and change its call spots to include a cast), for the following reasons:

1. Converting from a pointer to a boolean causes information loss (unlike our other implicit conversions, which happen between practically interchangeable data types, at no information loss). [According to MSDN][1], conversions that lose infor

[2015-05-02 07:44] mjsabby commented on #11
I actually propose we remove it all together. I did it to get the automated code compile and run my small test app.

Removing it means we'll need to fix up the code, but that's what I was intending to do.

[2015-05-02 07:59] TChatzigiannakis commented on #10
I use the C API as well and I definitely don't want it to change in a breaking manner. I believe the above changes won't be breaking for the C API, since we will only be adding new members to the structs, enabling operations that right now are compile-time errors (for example, comparing two `LLVMValueRef` instance using `==` is an error in the last release). And if we are careful about which conve

[2015-05-02 08:06] mjsabby commented on #10
Ok, good.

As you point out, if we go and build custom code inside our API then we risk being out of date (or worse even wrong) with LLVM's APIs. So I'm definitely not in favor of this, I've done it in a few places like Function and BasicBlock, which are admittedly not that great, but were needed.

I think the issue you have opened should track the IEquatable and Equals/GetHashCode/== operator we

[2015-05-02 08:08] mjsabby opened #13 "Add Tests for all OOP APIs (at least the easy ones)"
There are some easy tests we can add for the OO APIs, like for Function, Basic Block and the implicit conversions we do.

At least some of the easy ones should be there before next release.

We can add more concrete details about which ones are easy here.

[2015-05-18 09:06] TChatzigiannakis opened #16 "Setting up build configurations"
There's the AnyCPU configuration in the solution, and the UnitTests project has a x64 target. But for some reason, the test runner in my VS seems to avoid x64.

In any case, I suggest we remove the AnyCPU configuration entirely (since we do have an unmanaged DLL anyway, so the whole project can't really be AnyCPU) and create just x86 and x64 build configurations. It will make the targets (and the

[2015-05-18 10:00] mjsabby commented on #16
Seems ok.

[2015-05-23 23:48] TChatzigiannakis opened #20 "Suggesting removal of implicit conversions between C and C++ API types"
Even though there is no information loss between our boxed and unboxed types, I suggest we start gradually removing our implicit conversions.

* For trivial conversions (such as an `IRBuilder` to an `LLVMBuilderRef`), we could just have a class constructor and optionally, for the opposite case (`LLVMBuilderRef` to `IRBuilder`) expose the value as a `get`-only property (and it should be consistent

[2015-05-26 17:29] mjsabby commented on #20
It sounds okay.

[2015-07-24 09:20] rflechner opened #22 "Problem with AddGlobalMapping usage"
Hi,

I would like to call a C# function from LLVM bytecode.

To understand the mecanism, I created a "Display" function and I tried to use AddGlobalMapping.

But I have a problem with function resolution at runtime.

My program outputs:
[code]

My small program is:
[code]

Did I missed something ?

Thank you.

Romain.

[2015-07-24 16:23] mjsabby opened #23 "Make ReversePInvoke easier using LLVMSharp"
When a user calls into LLVMSharp and wants to ReversePInvoke (i.e. LLVM generated code calling into their C# code) it's a bit hard and (to be honest) mundane for the developer to write somewhat repetitive  code.

This is a very common scenario -- going to LLVM for some CPU intensive task and get the data, and then wanting the productivity of C# to deal with this data.

In fact, for a currently pri

[2015-07-24 16:32] mjsabby commented on #22
Calling into managed code is not as straight forward as you'd like. I've pasted a working example that calls into a static delegate sort of like you wanted.

The interesting function is ReversePInvoke -- you'll have to keep changing this depending on your parameters. I've logged issue #23 to make it automatic in LLVMSharp -- I have all the code, it's in a private repo for another project, but it m

[2015-07-25 02:50] mjsabby commented on #22
@rflechner I think your issue is likely resolved at this point. I'm going to close this issue in a day.

[2015-07-25 10:25] rflechner commented on #22
yes, everything works.
that's great !

thanks a lot for your help.

[2015-07-25 16:39] mjsabby commented on #22
Np.

[2015-07-25 16:39] #22 closed

[2015-08-02 20:16] mjsabby opened #24 "Fill out ArrayType, PointerType, StructType definitions"
The new OOP API is mostly complete, but these Types are left empty right now.

[2015-08-02 20:16] mjsabby opened #25 "LLVMBuilderRef should also have instance methods"
Even though IRBuilder is the OOP API, LLVMBuilderRef should have instance methods.

[2015-08-02 20:18] mjsabby opened #26 "BasicBlock class needs LLVMBasicBlockRef's instance methods to complete OOP API"

[2015-08-02 20:19] mjsabby commented on #11
Closing this as you did this, Thanks!

[2015-08-02 20:19] #11 closed

[2015-08-02 20:20] mjsabby commented on #10
I think we have a handle on this with the changes you made. Closing.

[2015-08-02 20:20] #10 closed

[2015-08-02 20:21] mjsabby commented on #20
Thanks!

[2015-08-02 20:21] #20 closed

[2015-08-02 20:23] mjsabby opened #27 "Prepare for LLVM 3.7"
3.7 is coming out, no major changes to the API, so should be good. Need to publish nugget package and update Generated.cs here

[2015-08-02 20:24] mjsabby opened #28 "Add ORC API"
ORC APIs are reasonably stable from the commit changes and LLILC is also using them, so I suppose it's time to put them in here.

Note: The C API doesn't expose this as yet, which is why we'll likely to have to start having a ToT build.

[2015-08-02 20:25] mjsabby opened #29 "Add DIBuilder API"
DIBuilder APIs are not part of C bindings, so we'll need to write some glue code.

[2015-08-02 20:25] mjsabby commented on #3
I have a fix for this as part of LLVM 3.7 release

[2015-08-02 20:27] mjsabby commented on #4
I looked at this, and it is because of the macro expansion happening the header files. The Windows build do not have these, so I think I'll need to put a hack in to suppress pushing these as an available API.

[2015-08-09 06:52] TChatzigiannakis opened #31 "Suggestion to enhance parameter names"
Most of the method signatures look something like this (matching the C++ API names verbatim):

    public Instruction CreateArrayMalloc(Type @Ty, Value @Val, string @Name)

They could be changed to match the .NET naming convention:

    public Instruction CreateArrayMalloc(Type ty, Value val, string name)

Or further, to something more descriptive like:

    public Instruction CreateArrayMalloc(Ty

[2015-08-10 17:35] mjsabby commented on #31
I prefer the first one, i.e. lower casing the C++ names. The reason is that as we can still automate additions.

And yes I think it's fine moving to that style

[2015-08-21 12:09] TChatzigiannakis opened #33 "How to deal with global functions?"
Consider, as an example, the function [`LLVMCreateJITCompilerForModule`][1].

LLVM C API signature:

    LLVMBool LLVMCreateJITCompilerForModule(LLVMExecutionEngineRef *OutJIT,
                                            LLVMModuleRef M,
                                            unsigned OptLevel,
                                            char **OutError)

LLVMSharp C API signature:

    LLVMB

[2015-08-21 16:21] mjsabby commented on #33
I prefer Option 2, for consistency with how we've done things elsewhere.

Option 3 is not feasible, and I don't think folks really necessarily care about the parity that much.

[2015-08-28 07:36] mjsabby commented on #4
Alright, this has been fixed. https://www.nuget.org/packages/LLVMSharp/3.7.0-rc4-final

We can now change the LLVMSharp Intro example to:

            LLVM.InitializeNativeTarget();
            LLVM.InitializeNativeAsmParser();
            LLVM.InitializeNativeAsmPrinter();
            LLVM.InitializeNativeDisassembler();
            LLVM.LinkInGC();

[2015-08-28 07:41] mjsabby commented on #3
This has been fixed in https://www.nuget.org/packages/LLVMSharp/3.7.0-rc4-final and beyond, the final release is due in a week.

[2015-08-28 07:42] mjsabby commented on #27
Final RC4 has been tagged: https://www.nuget.org/packages/LLVMSharp/3.7.0-rc4-final

[2015-09-01 21:22] mjsabby commented on #4
Fixed with 3.7 release, available here: https://www.nuget.org/packages/LLVMSharp/3.7.0

[2015-09-01 21:22] #4 closed

[2015-09-01 21:23] mjsabby commented on #3
Fixed with LLVM 3.7 release: https://www.nuget.org/packages/LLVMSharp/3.7.0

[2015-09-01 21:23] #3 closed

[2015-09-01 21:23] mjsabby commented on #27
LLVMSharp 3.7 released: https://www.nuget.org/packages/LLVMSharp/3.7.0

[2015-09-01 21:23] #27 closed

[2015-09-01 21:24] mjsabby commented on #29
Fixed with LLVMSharp 3.7.0 - https://www.nuget.org/packages/LLVMSharp/3.7.0

[2015-09-01 21:24] #29 closed

[2015-09-08 04:54] mjsabby commented on #28
OrcBindings.tar.gz have been attached by Lang Hames (the maintainer of Orc JIT) to http://lists.llvm.org/pipermail/llvm-dev/2015-September/090137.html -- seems like a starting point.

[2015-09-08 04:55] mjsabby commented on #1
I suppose we can skip over MCJIT and move to OrcJIT now that it looks like C API support is around the horizon.

[2015-09-08 11:59] vdisasm opened #37 "Please add example of machine code generation (emit to file)."

[2015-09-29 23:38] TChatzigiannakis opened #39 "Is LLVM.GetBufferStart supposed to return a string?"
We have this declaration:

[code]

We can see that [this function returns the `BufferStart` of a memory buffer](http://llvm.org/docs/doxygen/html/MemoryBuffer_8h_source.html#l00037). The type of that variable is `const char*`, not an `std::string` or an `llvm::StringRef`. It seems to me like our `LLVM.GetBufferStart` method should return an `IntPtr` (while another method or property should return

[2015-11-30 03:30] GeorgeHahn commented on #37
I'm not 100% sure this is the correct way to do it, but here's what I did (emphasis on the final few lines):

[code]

[2015-12-17 08:44] mjsabby opened #40 "Make LLVMSharp .NET Core Compatible"
Work involved is mostly building a new target that can reference the nuget .NET Core packages. We won't need much, I think only System.Runtime and System.Runtime.InteropServices.

[2016-01-30 04:13] onionhammer opened #43 "BuildLandingPad"
https://github.com/mjsabby/LLVMSharp/blob/master/IRBuilder.cs#L135

When I run
```sh build.sh /usr/local/lib/llvm-3.7/lib/libLLVM-3.7.1.dylib /usr/local/lib/llvm-3.7/include```

I get

[code]

Should this call have 5 args in LLVM 3.7?

[2016-01-31 20:51] TChatzigiannakis commented on #43
Yes, the signature seems to have changed across versions.

`IRBuilder` and other wrapper classes are still half-baked in the master branch, unfortunately. If they're causing you trouble, I'd say you can safely exclude them from your build until we merge the finished versions to the master branch. In the meantime, you can use `LLVMBuilderRef` instead.

[2016-04-10 08:23] TChatzigiannakis opened #45 "Proposing moving the OOAPI to a new namespace"
The `LLVMSharp` namespace is starting to get too crowded, which is made worse by the fact that there are 2 types for each thing (`LLVMValueRef`, `Value`, etc). Especially the class `LLVM` might get awkward if we start including some static methods that work with the equivalent class types and return the equivalent class types.

- I propose moving the class-based API to a new namespace (e.g. `LLVMS

[2016-04-10 09:50] mjsabby commented on #45
LLVMSharp.Api? Capitals is reserved in my opinion for nouns.

Let's not change the struct-based APIs, it's a breaking change and there are lots of users of this API.

Pretty soon I'd want us to move the OO APIs to master. I'm using the OO APIs extensively now and they are much better to work with.

If you are planning to do this, what timeframe are you thinking to get this landed?

[2016-04-10 11:41] TChatzigiannakis commented on #45
- I suggested `API` because it looks more like the convention we already have in the name `LLVMSharp`. But `Api` is what the [MSDN Capitalization Conventions](https://msdn.microsoft.com/en-us/library/ms229043(v=vs.100).aspx) seem to suggest (in accordance with .NET identifiers like `TcpClient`, `HttpClient`, etc). I'm okay with either option, or with any other identifier, so let's go for `Api`.
-

[2016-04-10 14:17] mjsabby commented on #45
Cool. Sounds good to me.

[2016-04-10 14:42] TChatzigiannakis commented on #45
I've started doing this and as I mentioned, in order to make the `LLVMSharp.Api` namespace standalone (that is, not require the user to include `LLVMSharp` as well), I must "duplicate" the remaining functionality of the `LLVM` class (by exposing whichever functions aren't in a class already, e.g. `EnablePrettyStackTrace`).

As I said before, I could do this by introducing an `LLVMSharp.Api.LLVM` s

[2016-04-10 22:50] mjsabby commented on #45
I mostly am fine with it, just curious how many such functions are there? I feel like the user having to include two namespaces isn't the end of the world. But maybe I'll be convinced by your code change.

So yeah go ahead, but I'd like to see the end result before fully committing ..

[2016-04-11 08:05] TChatzigiannakis commented on #45
It's certainly easy to include two namespaces in general. But if the user has to do that, we're back to the position where they'll see duplicate types all around. So if they choose to work with the class-based API, they'd import a huge amount of methods and half of them won't be applicable. This is what I wanted to solve with the namespace separation.

In any case, see the PR I'm making now.

[2016-04-26 09:47] TChatzigiannakis opened #47 "Some signatures (involving out parameters) seem to be wrong"
I think some of the signatures generated by the script are wrong. I will explain why I think this is the case, but I'd like someone else to validate it as well, as I haven't gotten around to testing it yet.

Consider the example of `LLVMDiagnosticHandler`. On the C side, it is defined as:

[code]

Where `LLVMDiagnosticInfoRef` is:

[code]

Because of this, I'm guessing `LLVMDiagnosticHandler` is s

[2016-05-09 00:14] pragmascript opened #48 "Update bindings to LLVM 3.8"
LLVM 3.8.0 was released and it would be nice if the bindings could be updated to the current version

[2016-05-13 13:02] TChatzigiannakis commented on #48
Before that happens, I'd like to call attention to [this issue](https://github.com/mjsabby/LLVMSharp/issues/47) because fixing it is a _breaking change_ to the public API. If we decide to fix it, it might be best to do it now that a new version is coming.

[2016-05-13 22:15] mjsabby commented on #48
Yes, that's a bummer. Ok, we'll plan to get this to 3.8 in the next few days.

[2016-05-18 04:50] mjsabby commented on #28
Comes in 3.8

[2016-05-18 04:51] mjsabby commented on #43
@onionhammer yeah they added new stuff in this, the repo is now updated. @TChatzigiannakis  is right, we'll be introducing a new OOAPI in the next release, and also make it run on Linux and MacOSX!

[2016-05-18 07:00] mjsabby opened #49 "Use PInvokeCompiler for LLVMSharp to support .NET CoreRT and simplify deployment"
The main goal of this work item is to use the PInvokeCompiler toolchain (being developed @ http://github.com/PInvokeCompiler/PInvokeCompiler) and generate a single assembly that is runnable on:

.NET 4.0+
.NET Core
.NET CoreRT (AOT scenario)

This requires that we generate MSIL that does all the marshalling and bake it into the MSIL. This approach also has benefits for LLVMSharp beyond being able

[2016-05-18 09:09] TChatzigiannakis opened #50 "Managing lifetimes of [UnmanagedFunctionPointer] delegates"
As per the MSDN documentation, any delegate that's passed to unmanaged code as a function pointer needs to be explicitly kept alive in managed code, since the GC doesn't track pointers on the unmanaged side.

We have many such delegates in LLVMSharp. In `LLVMSharp.Api`, I intend to have the relevant wrapper classes manage their lifetimes so the user won't have to call `GC.KeepAlive()` on them. For

[2016-05-18 09:15] TChatzigiannakis commented on #49
In this case, should `LLVMSharp.Api` be in a different assembly? Considering that we haven't automated the process of generating it the OOAPI, users who prefer or have to build the header files on their own, may want to just unload that part of the solution if their desired LLVM version doesn't match.

[2016-05-18 15:25] mjsabby commented on #50
Sounds good. Great work on the OOApi, I'm still focusing on getting this runnable on as many platforms, so it's good we're doing non overlapping stuff.

[2016-05-18 23:45] Ryuuke opened #51 "Recursive struct type"
Hello Im wondering how we can handle recursive struct types, like this for exampe :
`%player = type { %player, i32, etc... }`

[2016-05-19 06:00] mjsabby commented on #51
LLVMSharp is currently closely mirroring the C API so some stuff is awkward C#, but we're working on improving that situation, while keeping the old APIs always available.

That said, here's a quick example:

[code]

[2016-05-19 09:55] Ryuuke commented on #51
Thanks :)

[2016-05-19 09:56] #51 closed

[2016-08-06 06:14] #48 closed

[2016-08-07 08:28] #37 closed

[2016-09-30 18:59] anthony-y opened #52 "Passing Marshalled to string Zero IntPtr to Name for LLVM.BuildCall throws AccessViolation"
In order for LLVM to not give an error for trying to assign to a void typed function call, you need to pass NULL (IntPtr.Zero) to LLVM.BuildCall for the name parameter otherwise so it will generate IR like this:

[code]

instead of like this

[code]

When I tried this I got an AccessViolationException.

Here is my code:

[code]

If this is an error in my code and not in LLVMSharp, please correct m

[2016-10-01 19:34] mjsabby commented on #52
Where is argsV defined here? If you give a compiling sample might be able to debug with you.

[2016-10-01 21:09] anthony-y commented on #52
This is basically taken from the Kladeiscope tutorials except using a tree walk instead of linearly.

```_values``` is a Stack of LLVMValueRefs.

```FunctionCallExpression``` is the type in my AST that represents a function call.

[code]

Sorry for not providing enough info the first time around. Thanks for replying :)

[2016-10-01 23:34] anthony-y commented on #52
So I just changed this line:

[code]

to

[code]

and it works

facepalm

[2016-10-01 23:34] #52 closed

[2016-10-19 19:20] chuckhacker opened #53 "Example project on web page doesn't use fixed-width font and the right side of the code gets cut-off without scrollbars"
Linux Mint 18 + Chrome 54.0.2840.59 (64-bit)

Affected URL:
http://llvmsharp.org/

See screenshot:
http://imgur.com/a/QtWdc

[2017-01-03 19:09] jkaye2012 commented on #40
Has anyone thought about looking into this? It would be very helpful.

[2017-01-09 18:01] mjsabby commented on #40
Take a look at this package, https://www.nuget.org/packages/LLVMSharp/3.9.1-rc1

Going forward LLVMSharp will require the user (that is you) to specify the location of the native library. On Windows we're debating whether we should still ship the native component (libLLVM.dll) since otherwise it's probably difficult for everyone to compile their own.

On Linux and macOS the story is that you'll us

[2017-01-09 18:04] jkaye2012 commented on #40
Awesome. I'll check this out soon

[2017-02-06 22:10] TheChuckster commented on #53
Any updates?

[2017-03-12 04:37] jkaye2012 commented on #40
Looks like everything is installing with no issue. Would you expect the library to work on OSX with this release? Trying to load the LLVM library I get the following:

[code]

[2017-03-26 14:29] jkaye2012 commented on #40
Looks like this is happening for me on Windows as well. Any advice on how to load the LLVM library to make this work properly?

[2017-04-10 01:56] jkaye2012 commented on #40
@mjsabby Don't mean to be annoying, but is there any reference I can use to keep moving forward with my project? I've still been unable to get the LLVM library loaded in .NET Core (on any platform)

[2017-04-25 17:16] sgf opened #54 "http://www.clangsharp.org/ Error 403 - This web app is stopped."
http://www.clangsharp.org/
Error 403 - This web app is stopped.

[2017-05-23 18:08] sgf opened #55 "Project deprecated?"
http://www.clangsharp.org/
got 404 error
and seems project has no any update long times(seveal months)

https://github.com/dotnet/llilc seems deprecated too.

see kotlin native. progress is very fast.

hope this project wont be deprecated and do more faster....

[2017-05-23 18:23] TChatzigiannakis commented on #55
Personally I have been busy with university and so I haven't contributed to my branch (OOAPI) for over a year. But I plan to pick it up immediately as soon as my workload decreases, since I need LLVM bindings for a project I'm already working on. So, at least as far as I'm concerned, it's not deprecated — but maybe we do need more contributors. =)

[2017-05-23 19:09] kaby76 commented on #55
I was wondering about the status, too. So instead, I've been working on a forked copy of the LLVM bindings library from SharpLang, which uses SWIG. The API is in Net Standard 1.1 and links with Net Standard/Core/Framework. But, it is limited by the built targets for LLVM 4.0, although I do have native libraries for Windows 32 and 64-bit, Ubuntu, and I'm working on the armeabi/x86 Android targets n

[2017-05-28 00:35] sgf commented on #55
I thought Llvmsharp was the official project for Microsoft employees.
to Microsoft employees as the main source of contribution.
ok.I wish I could help, but my technical is too slag. Just like C #.

[2017-06-14 13:32] sirinath commented on #55
Can this be activated again along with llilc?

[2017-06-14 13:37] TChatzigiannakis commented on #55
I personally intend to continue working on LLVMSharp soon. We can't speak on behalf of LLILC — it's an entirely different project.

[2017-08-19 13:21] jkaye2012 commented on #40
Should I abandon all hope of this?

[2017-08-19 15:46] jkotas commented on #40
It worked fine for me on Windows. Have you build the native LLVM library that you are trying to load - does the .dll/.dylib file from the error message exist?

[2017-09-15 01:23] ice1000 commented on #55
So when will this be updated...

[2017-09-15 04:07] mjsabby commented on #40
@jkaye2012 sorry for the MIA here, we've got a plan to get us to LLVM 5.0 and the new .NET Core tooling by End of this month!

[2017-09-15 04:13] mjsabby commented on #55
Not deprecated, we're targeting end of month having it all updated to LLVM 5.0 along with using the new VS 2017 .NET Core tooling.

[2017-09-15 04:35] sirinath commented on #55
Time to party!!!

[2017-09-15 05:07] ice1000 commented on #55
Can I just read the llvm cookbook (which uses C++) while getting started with this?

I'm working on a compiler recently (in C#, targeting llvm). Hope this official LLVM binding will work. 😃 Cheers!

[2017-09-15 06:08] ice1000 commented on #55
When will the LLVM-5 support be available?
When will the website reborn?

(Sorry for too many questions... 😜

[2017-09-15 07:52] mjsabby commented on #54
Redirects to this page now.

[2017-09-15 07:52] #54 closed

[2017-09-15 07:53] mjsabby commented on #53
The website now redirects here.

[2017-09-15 07:53] #53 closed

[2017-09-15 09:19] #28 closed

[2017-09-15 09:41] ice1000 commented on #40
Should this be closed? I see the maintainer pushed some changes that migrates to .net core 1.1

[2017-09-16 07:03] #47 closed

[2017-09-16 07:04] mjsabby commented on #47
Fixed in https://github.com/Microsoft/LLVMSharp/commit/eeb7e377a78f36439c061efbeb71bde65aa004d5

[2017-09-16 07:15] #39 closed

[2017-09-16 07:16] mjsabby commented on #39
Fixed in https://github.com/Microsoft/LLVMSharp/commit/f7a521b133f8a3ae2cfc58cdb999aa879932c274

[2017-09-20 14:06] ice1000 commented on #55
Can anyone help @mjsabby

When will the website reborn?
Will you change the old APIs? If so, how much APIs will be changed? <br/><br/>

[2017-09-20 16:50] mjsabby commented on #55
@ice1000 checkout https://nuget.org/packages/LLVMSharp -- LLVM-5 supoprt is available.

The website redirects here, since most of the information is here.

APIs are determined by the LLVM project, and we just make sure to keep them up-to-date.

[2017-09-20 16:56] ice1000 commented on #55
Nice! Thank you @mjsabby

I should say this project is awesome! You guys are really doing something cool! :smiley:

[2017-09-27 04:21] morganbr opened #57 "LLVMDIBuilder missing from NuGet library"
Calls into DIBuilder, such as LLVM.NewDIBuilder fail because they're not exposed from the build of libLLVM in the matched NuGet package. This appears to be the case in both 3.9.1 and 5.0.

[2017-09-27 07:27] mjsabby commented on #57
Yup, they are not officially part of the bindings so we have to make a special addition which looks like in the last builds got clobbered.

I'll get to this tomorrow. I'll do it for 4.0 and 5.0.

[2017-10-12 05:33] mjsabby commented on #55
The project is not deprecated. Closing this issue.

[2017-10-12 05:33] #55 closed

[2017-10-15 09:28] ice1000 commented on #57
Cough cough :stuck_out_tongue_winking_eye:

[2017-10-15 12:38] ice1000 opened #59 "Documentation"
I'm translating the official doc (Kaleidoscope) into a C\# version.

It's in progress.

Link:

http://ice1000.org/llvm-cs/en/

I wonder if you can add the link to the README, and help me review+find bugs :smiley:

[2017-10-15 21:37] mjsabby commented on #59
Sure, send a PR.

[2017-10-16 04:21] ice1000 commented on #59
Ok, I'll send pr when I finish and then close this issue.

[2017-10-18 16:07] ice1000 commented on #59
pr is sent. Replaced by #60

[2017-10-18 16:07] #59 closed

[2017-10-20 03:11] morganbr commented on #57
@mjsabby , might you have any suggestions on workarounds? We're starting to generate more complex code using LLVMSharp in https://github.com/dotnet/corert and it might be nice to start generating debug data before too much longer.

[2017-10-20 11:14] ice1000 commented on #40
Should this be closed? I see the maintainer pushed some changes that migrates to .net core 2.0

[2017-10-25 13:15] ice1000 opened #61 "Failed to run the Kaleidoscope Chapter4 example on Ubuntu 16.04"
Command used:

[code]

Get:

+ build
[code]

+ run:

[code]

Does the same thing happen on Windows?

[2017-11-06 12:02] TChatzigiannakis opened #63 "Wrong signature of LLVM.ConstIntOfArbitraryPrecision?"
[LLVM documentation says](http://llvm.org/doxygen/group__LLVMCCoreValueConstantScalar.html#ga3ce3363ae52e157bbc63c9fde4aa3821) that the last parameter of `LLVMConstIntOfArbitraryPrecision()` is `const uint64_t[]` but we have it as `int[]`. I think it should be `ulong[]`.

[2017-11-08 14:25] TChatzigiannakis opened #64 "Feedback on the OOAPI"
I've pushed a version of the `LLVMSharp.Api` namespace that contains almost all of the functionality of the original C bindings in a form that (roughly) mimcs the C++ API but in a style that feels more like a C# library (getters/setters, IDisposable interface, generic delegates, cleaner identifiers, etc).

If anyone wants to try it and give some feedback on how to improve it, please go to the [OOA

[2017-11-10 18:46] mjsabby commented on #57
@morganbr sorry for the delay. Do you have a platform where you'd like this sooner? Like maybe windows?

[2017-11-10 18:48] #40 closed

[2017-11-10 21:08] mjsabby commented on #61
Can you elaborate?

[2017-11-10 22:13] morganbr commented on #57
@mjsabby, for CoreRT, we're currently using 3.9.1 on Windows. If 5.0 on Windows works with Emscripten, we could try that too.

[2017-11-11 01:07] ice1000 commented on #61
I deleted `LLVM.DisposeTargetData()`....

It's originally `LLVM.AddTargetData` and this API is deleted. I searched your commit log and find a similar one(`DisposeTargetData`), and it's added when `AddTargetData` is deleted, so I thought it was just a simple renaming. But when I run it fails as I described above.

Deleting the line works for me.

[2017-11-11 01:07] ice1000 commented on #61
This is the whole procedure.

[2017-11-11 16:38] onionhammer commented on #64
This looks really great so far!

[2017-11-26 20:41] smaillet commented on #64
Now that this repo seems to be getting some attention again we might want to have a discussion on how we can merge/join/collaborate with the [Llvm.NET](https://github.com/UbiquityDotNET/Llvm.NET) project it has a very robust OO model that is built on a low level interop projection similar to this project, as  a ignificantly extended superset of the LLVM-C API  (thought it deliberately hides the ra

[2017-12-11 08:24] ice1000 opened #65 "Migrate LibLLVM to dotnet core to suppress warnings"
When I run `dotnet msbuild` locally, I get warning:

[code]

Please upgrade LibLLVM to dotnet core 2.0.

[2017-12-13 22:03] morganbr commented on #57
@mjsabby, is there anything we could do to help out with this?

[2017-12-14 04:39] ice1000 commented on #57
:sob: I want a write access, so I can update the LLVM demos

[2017-12-14 04:39] ice1000 commented on #65
Or dotnet core 2.0.3.

[2017-12-22 09:19] TChatzigiannakis commented on #65
So far @mjsabby has been building the LibLLVM DLL, so I've assigned this to him. I myself haven't been able to build LibLLVM successfully for some reason, but I'll give it a try again.

[2017-12-22 09:29] ice1000 commented on #65
Thanks @TChatzigiannakis :+1:

[2018-01-20 09:19] ice1000 commented on #65
:sob: Why, why this issue is left abandoned

[2018-01-20 09:20] ice1000 commented on #63
Please fix this :sob:

[2018-01-27 14:44] christianscheuer opened #66 "LLVM 4.0.1 support?"
Would it be possible to create a build with support for LLVM 4.0?
CoreRT is currently tied to latest Emscripten release, which uses LLVM 4, and so cannot update to LLVMSharp v5.
We could look at producing the LLVMSharp bindings ourselves, but there doesn't seem to be a publicly available repo for building the libLLVM dependency (which also has no v4 releases).

[2018-02-21 00:09] mjsabby commented on #66
@christianscheuer LLVM 4.0 package is now on nugget. Let me know if this address your issue and we can close it out.

[2018-02-21 01:53] christianscheuer commented on #66
@mjsabby yes thank you for solving this!

[2018-02-21 01:53] #66 closed

[2018-02-24 19:50] #63 closed

[2018-03-10 23:37] mjsabby commented on #65
@ice1000 I think this is fixed, have you tried it?

[2018-03-11 07:01] ice1000 commented on #65
Haven't yet, I'll test this within few days since I'm busy with work. I'll close this issue after trying upgrading my LLVM#.

[2018-04-12 02:05] inumanag opened #69 "Implementation of "extern" functions in Kaleidoscope"
Hi,
I was trying to add support for "extern" functions from libc in Kaleidoscope (which come for free in C++ version of Kaleidoscope). However, for the following IR (trying to use sin from libc):

[code]

I keep getting:

[code]

Will this require P/Invoke of any sort, or it is not doable from .NET framework as of now?
Btw. I am using MCJIT as specified in the tutorial.

Thanks!

[2018-04-23 03:32] morganbr commented on #57
@mjsabby, is the change needed here to just add the functions to the .def file and then rebuild libllvm.dll? If so, I'm happy to add a bunch of functions to the .def file.

[2018-04-23 03:45] mjsabby commented on #57
@morganbr a little bit more than that, but essentially yes. The problem is DIBuilder changes need to be pushed into this branch.

Also, do you still need it for LLVM 4.0?

[2018-04-23 14:13] kaby76 commented on #57
DIBuilder was changed in the last month on the master branch of LLVM, and it's still being changed as of yesterday. Those changes came out after version 6.0 of LLVM. I don't see them being merged into 6.1, but likely the July '18 release (v7). However, I did try out the line debug information API parts, and it works. There is now a way to create "context" for LLVMDIBuilderCreateDebugLocation, i.e.

[2018-04-25 22:01] morganbr commented on #57
@mjsabby, it looks like Emscripten just released a 5.0 version, so we could probably move to that if we needed to, but we're still currently using 4.0.

[2018-05-02 23:48] ChaseLewis commented on #69
Hey inumanag I figured out how to solve this issue.

[code]

You need to manually  map the values, I'm unsure how to map an entire lib file (still learning myself) but that should help you out hopefully.

[2018-05-03 07:24] frederik-h opened #70 "Document DLL creation"
As far as I can see, there are at least two non-equivalent ways to build the libLLVM.dll: using the powershell script in the tools directory and using the MSBuild project in tools/libLLVM.
The latter variant seems to be less flexible. For instance, the LLVM libraries for many target architectures are hard-coded as dependencies and I am only interested in the x86 target architecture.
What is the pr

[2018-05-18 05:50] mjsabby commented on #57
@morganbr I've started in earnest with 5.0 so if you could move there I'll be done there sooner.

[2018-05-18 05:52] mjsabby commented on #70
@frederik-h the latter can be more useful since we'll need to add apis missing from the C libraries. But I'm going to clean this up as we add DIBuilder support. It'll probably be the latter.

If those hardcoded values are removed, does that solve your problem?

[2018-05-18 13:26] frederik-h commented on #70
Yes, that would probably solve the problem. Currently, I use an adapted version of the powershell script and I have an MSBuild project which calls the script.

[2018-05-28 09:00] #70 closed, assigned to nobody

[2018-05-29 02:42] morganbr commented on #57
@mjsabby, I tested the 6.0.0-beta1 libllvm DIBuilder with llvmsharp 5.0.0 (Emscripten just shipped a LLVM 6 version, so I'm trying with that). The functions are there, but every function other than ```LLVM.NewDIBuilder``` hits an access violation. Is there a combination of libllvm and llvmsharp that should work?

[2018-07-02 12:52] mjsabby commented on #57
@morganbr  can you tell me what DIBuilder functions you need? I'll verify them as I rebuild the final nuget package.

[2018-07-05 02:00] morganbr commented on #57
@mjsabby, I don't have the complete list since I haven't been able to build the functionality, but my best guesses would be something like [this tutorial](https://llvm.org/devmtg/2014-10/Slides/Christopher-DebugInfoTutorial.pdf). We'd really like to at least have source line mapping work, eventually followed by local variable inspection. If you'd like me to play with a pre-release version, let me

[2018-07-07 17:05] mjsabby commented on #57
@morganbr Yeah these functions aren't available in the LLVM 6.0 upstream and I was trying to accommodate them myself, but that's not going well as LLVM moves way too quickly.

However, most of these are available in the latest unreleased LLVM, so I'll work on making an LLVM-7.0.0-pre1 package or something that has all these from upstream.

Is that even useful? I'm not sure how you integrate with e

[2018-07-11 04:36] metanoic commented on #65
@ice1000 is this issue resolved?

[2018-07-11 05:04] ice1000 commented on #65
@metanoic ask the repo owner

[2018-07-11 09:57] metanoic commented on #65
@ice1000 alrighty.. just figured since your last activity was "I'll test it" and it being your ticket and all that you'd have either closed it or got things sorted.

[2018-07-30 08:00] morganbr commented on #57
@mjsabby, I dug further into those functions. Everything we need is in 6.0 and the changes you already merged to match the 6.0 surface area probably fix the problems we're hitting. I think if you did a release of the llvmSharp package as-is (tied to the preview 6.0 libllvm), it would work for us.

The way to think about emscripten is that it's the WebAssembly LLVM linker. It can generally tolerate

[2018-08-02 23:23] howion opened #73 "Could not install package 'LibLLVM 5.0.1'"
When i run **`Install-Package LLVMSharp -Version 5.0.0`** on **Package Manager Console** im getting error down below.

![image](https://user-images.githubusercontent.com/39840945/43616194-f866eada-96c3-11e8-81be-baf0d5a8c922.png)

[2018-08-18 23:47] peacecwz commented on #73
@howion You cannot install this package under .NET Framework v4.6.1. You have to upgrade to .NET Framework v4.6.1, .NET Standard v1.6.1 or higher

[2018-08-19 09:47] peacecwz commented on #73
@howion If it's answer to your issue, you can close this issue :)

[2018-08-25 05:34] howion commented on #73
Thanks. Solved with upgrading to .NET Framework  4.7. But i think readme.md should be updated

[2018-08-25 05:38] howion commented on #73
**Solved** with upgrading to **.NET Framework 4.7** But i think readme.md should be updated then
![image](https://user-images.githubusercontent.com/39840945/44615383-e39f2b00-a841-11e8-904f-be53e74a3e47.png)
Because 4+ contains 4.5.2 idk anyway, solved Thanks :D

[2018-08-25 05:38] #73 closed

[2018-08-25 08:27] peacecwz commented on #73
Yeah, you are right. You can look dependencies on Nuget. You will see it there

[2018-09-07 13:37] superblaubeere27 opened #75 "System.EntryPointNotFoundException when Calling DumpType"
LLVM.DumpType(LLVM.TypeOf(lhs.Value));

[code]

[2018-10-28 01:30] andyjansson commented on #65
[code]

[2018-11-10 05:00] mjsabby commented on #65
I'm going to go ahead move this project to .NETStandard 2.0 so that more people can benefit. Although it will mean that people using this project in projects < .NET 4.7.1 will now have more assemblies output in their program, but nuget will take care of that.

[2018-11-10 05:05] mjsabby opened #77 "Add AzureDevOps CI pipeline"
Azure DevOps supports reading GitHub repos and generating binaries. We should build a simple pipeline that can generate Windows, Linux and macOS binaries to reduce burden for LLVM upgrades.

[2018-11-10 05:06] mjsabby opened #78 "Add SourceLink for libLLVM.dll"
VS 2017 15.8 supports SourceLink for C++ projects.

https://docs.microsoft.com/en-us/cpp/build/reference/sourcelink?view=vs-2017

This will allow libLLVM.dll to be debugged into with sources indexed on a GIT repo for a particular release.

[2018-11-10 20:17] TChatzigiannakis opened #80 "Add hook for AppVeyor"
I've setup [a test branch](https://github.com/TChatzigiannakis/LLVMSharp/blob/appveyor/README.md) where LLVMSharp gets built successfully and the tests are discovered and run successfully in AppVeyor.

I propose we add AppVeyor as an additional webhook so that we can verify any commits that Travis fails to build properly.

[2018-11-10 20:35] TChatzigiannakis commented on #80
Sounds good!

[2018-11-10 20:35] #80 closed

[2018-11-16 17:52] IJzerbaard opened #83 "Wrong signature of LLVM.DIBuilderCreateBasicType?"
If I call this as it is, for example `LLVM.DIBuilderCreateBasicType(dibuilder, "i32", 32, 32, 5)`, and then do DumpModule, I can see that the string has become 32 characters long and has eaten some junk. The length of the string depends on the value of the third argument. Inserting an argument `int nameLength` after the name worked around this issue

[2018-11-25 18:19] feliwir opened #84 "Update to LLVM 8.0"
Hello everyone,

by now LLVM 7.0 is released and LLVM 8.0 is already in development. Are there any plans to update in the near future?

[2018-11-25 23:32] mjsabby commented on #84
@TChatzigiannakis any updates on your API work? I can continue the LLVM 7 migration and you can fix up any new APIs?

[2018-11-26 09:31] TChatzigiannakis commented on #84
@mjsabby I am at a conference these days. I'll probably find a few hours one of these afternoons to amend it.

[2019-01-15 02:18] Axiverse commented on #84
This would be greatly appreciated!

[2019-01-15 13:36] tritao opened #88 "Nuget package 6.0.0-beta1 missing LLVM C API symbols on Linux"
As the title says, the latest Nuget package for `libllvm` is missing C API symbols.

[code]

This breaks CoreRT under Linux.

[2019-01-15 20:15] mjsabby commented on #88
Thanks @tritao. We'll get this squared away this week, I also noticed a similar break in CoreRT. FYI @morganbr

[2019-02-13 03:07] KodrAus commented on #88
@mjsabby is there anything we can do to help fix this up?

[2019-02-13 22:31] KodrAus commented on #88
I'm not sure how helpful it would be to anyone, but I'm working around this in `corert` right now by building my own `libLLVM` and patching it in (since `corert` unpacks packages and links the native objects directly).

# On OSX

Clone the `llvm` project:

[code]

Configure LLVM to build as a single static binary:

[code]

Build LLVM:

[code]

Go for a long walk.

If everything goes well, you shou

[2019-02-13 23:39] mjsabby commented on #88
@KodrAus thanks. Working on this.

[2019-02-14 00:12] KodrAus commented on #88
Thanks @mjsabby!

I imagine it wouldn't need to change all that much, but do you think it would be worth setting up a repository for `libLLVM` that just contains an Azure Pipeline or something for fetching/building an LLVM binary on the supported platforms, bundling those up into a `nupkg` and publishing to nuget.org? That might give us some more visibility into how the package is produced?

[2019-02-14 03:47] mjsabby commented on #88
@KodrAus Yup I so desperately want to do that :)

Happy to create a Microsoft sponsored account if you wanted to take a stab at it.

[2019-02-14 04:31] KodrAus commented on #88
Sure :+1: I'm keen to try spike something out. I'll just spin up a repo and see where it goes. I'll open an issue or send a ping if I get anywhere 😃

[2019-02-15 07:29] KodrAus commented on #88
So I've actually been able to make some progress on this. Building for OSX and Linux seems to work out ok, but I'm having some trouble getting a single .dll out of the Windows build.

@mjsabby I'm guessing that's what the vcxproj in this repo is all about? Are you able to share some details about how you build LLVM for Windows at the moment?

[2019-02-15 08:58] mjsabby commented on #88
Yes the vcxproj is for that. In fact, you need to have the code also be built on Linux and macOS. Because that's what the PInvokes call into since neither platform exposes all the arches.

Are you using a hosted Azure Pipeline instance? Let me know the details and we can put all the relevant info in the repo.

Really appreciate you taking this!

[2019-02-15 09:44] KodrAus commented on #88
Ah right. Sure! The repo I'm working on is [here](https://github.com/KodrAus/libllvm), with the current Azure Pipeline looking [something like this](https://dev.azure.com/kodraus/libllvm/_build/results?buildId=53). It's still proof-of-concept quality stuff, but does manage to get the native bits produced in some form on Windows, OSX and Linux.

[2019-02-16 03:42] KodrAus commented on #88
I wasn't able to successfully link up a Windows build using the vcxproj from this repo on my machine, but LLVM takes a _really_ long time to build locally on my poor old Windows box (~3hrs vs ~1hr on the build agent), so I might just try running it in the Windows pipeline after LLVM's build and see how I go getting it to link up there.

[2019-02-16 06:04] mjsabby commented on #88
@KodrAus do you mind if we copy over your azure pipeline yml over to an MSFT Azure Pipelines? I'll then get beefier VMs for this task.

[2019-02-16 06:09] KodrAus commented on #88
No problem! Some beefier agents definitely wouldn't hurt. I think the Windows build that's there now is running close to the disk limit.

I've punted on a couple of design questions in the pipeline though, like whether to pull in the LLVM source as a submodule in the repo or just clone it in CI, just to try prove it was even possible to do so once it's all working we might want to revisit them.

[2019-02-20 20:24] KodrAus commented on #88
Success! The Azure Pipeline [I've been working on](https://github.com/KodrAus/libllvm) can now link up a single `.dll` on Windows. So that's Windows, OSX and Linux now built and bundled in a single pipeline. Whether that `.nupkg` I'm assembling actually works is a different question, but all the pieces are there now.

[2019-02-20 21:28] KodrAus commented on #88
@mjsabby Just thinking about next steps here, I'm happy to keep chipping away on my `libllvm` repo until it gets to a point where we're sure it works in LLVMSharp.

After that, did we want to transfer the `libllvm` repository somewhere, (is this Microsoft org an appropriate place?), migrate the pipeline to an MS account and set up whatever credentials we'd need to be able to push pre-release packa

[2019-02-21 13:33] jangofett4 opened #89 "Segmentation fault when using LLVM.IsA... methods"
LibLLVM Version 5.0.1
.Net Core 2.1 Project

EDIT: See below

Example code:
[code]
Visual Studio: ![image](https://user-images.githubusercontent.com/19552452/53172081-83712200-35f5-11e9-818b-7ae6204b71af.png)

Pointer is not 0, so it shouldn't segfault. But LLVM.IsAFunction returns nullptr no matter what.

Other tries:

[code]
Visual Studio:
![image](https://user-images.githubusercontent.com/19552

[2019-02-21 18:13] mjsabby commented on #89
@TChatzigiannakis is this the OOP stuff?

[2019-02-21 18:14] mjsabby commented on #88
@KodrAus I think we'd want to keep it in the LLVMSharp repo. I was referring to your scripts if they are simple enough to integrate.

We need a cmake project that'll compile the entry points.

[2019-02-21 19:15] jangofett4 commented on #89
I fixed the problem (partially). The problem was I was sending a LLVMValueRef that points to a pointer to a function (a.k.a variable pointing to a function). After trying it with a function, it returned correct value. But this doesn't change the fact when non-function value passed to LLVM.IsAFunction method returns a nullptr. (I guess this is a property of LLVM instead?)
Also LLVM.GetBasicBlockNam

[2019-02-21 21:04] KodrAus commented on #88
@mjsabby Ah gotcha, if you look at the repo they are mostly simple so we should be able to just drop its contents in here somewhere and have it work. There is some organisational complexity in there though that seems like it's worth keeping separate from LLVMSharp itself and could be beneficial for other projects that want raw bindings to LLVM.

I'm happy to move in either direction though and cou

[2019-02-21 21:06] KodrAus commented on #88
Is this something separate from LLVMs own build project?

[2019-02-21 21:38] yowl commented on #89
I don't know if its the same but the following also throws an access violation
[code]
on the `BuildExtractValue`

[2019-02-22 02:12] yowl commented on #89
My bad, the personality signature is wrong.

[2019-02-22 02:25] mjsabby commented on #89
Debugging this stuff can get annoying. As I'm doing the work to get the native stuff automated, I'm thinking we should also publish a debug build of LLVMSharp with native pieces built as debug too with symbols uploaded. This way you'll also get the asserts.

[2019-02-22 07:48] TChatzigiannakis commented on #89
@jangofett4 Is it possible to provide a minimal snippet that reproduces this, so I can take it and step through it? (I realize that this problem may be manifesting itself only in a complicated scenario in your codebase, but if by any chance you can extract the valuable parts to a self-contained piece of code, it would make things much easier.)

[2019-02-22 10:34] TChatzigiannakis commented on #89
@jangofett4 It's been a while since I last used them, but I seem to recall that the `LLVM.IsA<X>` family of functions simply return a `NULL` pointer if the handle passed to does not point to a `<X>` -- otherwise, I think, it returns the argument. (This is LLVM behavior, not LLVMSharp-specific.)

Regarding `LLVM.GetBasicBlockName`, can you provide a minimal example that can reproduce this? I suspec

[2019-02-22 11:27] jangofett4 commented on #89
@TChatzigiannakis thanks for clarifying. I will close this one and create a new one related to `LLVM.GetBasicBlockName`.

[2019-02-22 11:27] #89 closed

[2019-02-22 12:20] jangofett4 opened #90 "LLVM.GetBasicBlockName(...) crashing application entirely"
LLVMSharp 5.0.0
LibLLVM 5.0.1
.Net Core 2.1 Project

`LLVM.GetBasicBlockName(...)` seems to be crashing wherever I use it at. No segfaulting or error messages. Just plain old crashing.

Example code:
[code]

[Small gif showing what is happening](https://media.giphy.com/media/RIXM209JIvflnvSyaX/source.gif)

Application starts running. Then waits for 4 to 6 seconds and then application ends.
Visual

[2019-03-22 14:35] sladage commented on #84
Might as well update straight to LLVM 8.0 at this point.

[2019-04-12 13:13] cloudrex commented on #84
Yes, this would be great!

[2019-04-12 15:42] mjsabby commented on #84
I've setup continuous integration of Windows LLVM here, https://dev.azure.com/llvmsharp/llvm/_build?definitionId=5.

The problem is updating the C# code as well. I'll skip 7.0 and move to 8.0

[2019-04-27 02:59] cloudrex opened #94 "[question] Get LL (IR) code from a module?"
How can I get the IR code generated by a module, into a string variable? I've found `LLVM.DumpModule()` but that directly outputs it, I've tried `module.ToString()` but that returns the conventional type-string.

Any ideas?

[2019-04-27 14:33] cloudrex commented on #94
Found it.

[2019-04-27 14:33] #94 closed

[2019-04-27 18:06] ice1000 commented on #94
What did you find?

[2019-04-27 20:31] cloudrex commented on #94
I used `LLVM.PrintModuleToString()` then `Marshal.PtrToStringAnsi()`.

It shouldn't be that hard tho...

[2019-04-28 11:24] TChatzigiannakis commented on #94
You can also consider using the `LLVMSharp.Api` classes. [They take care of such things](https://github.com/Microsoft/LLVMSharp/blob/master/src/Api/Module.cs#L42) for you.

[2019-04-30 01:18] tannergooding commented on #84
The raw P/Invokes have now been updated to 8.0. There is still quite a bit of work to add object-oriented wrappers for the new APIs however.

[2019-04-30 01:42] cloudrex commented on #84
I didn't even know the API wrappers existed until recently, and have been working with the raw API lol. So, are the "raw" APIs complete?

[2019-04-30 01:55] tannergooding commented on #84
Yes, as far as I am aware. If they aren't feel free to ping me and I'll work on fixing any issues 😄

[2019-04-30 23:08] yowl commented on #84
If anyone can help me with building the `libllvm.dll`, specifically where to find/build `MergeLLVM.lib` for v8.0.0 I'd appreciate it, thanks.

[2019-04-30 23:12] mjsabby commented on #84
@yowl you can look at the build definitions for libLLVM.dll here

https://dev.azure.com/llvmsharp/llvm/_build?definitionId=4
https://dev.azure.com/llvmsharp/llvm/_build?definitionId=1

Let me know if you can't access it.

[2019-04-30 23:25] yowl commented on #84
Thanks, I see the artifacts have what I needed so that's enough for me.

[2019-05-02 15:10] mnxn commented on #84
Will this be published to NuGet soon?

[2019-05-02 15:23] tannergooding commented on #84
I think, if it was pushed to NuGet (or an alternative like MyGet), it would be better as a preview for right now.

That would allow people to consume it easily and provide feedback that things are working correctly.

[2019-05-02 16:00] mjsabby commented on #84
Yup, I'll put it up as LLVMSharp 8.0-beta1 or something. @tannergooding it would be nice to see if CoreRT still works with the WASM stuff.

[2019-05-02 16:02] yowl commented on #84
Happy to try corert+wasm.  Was going to try now with the devops artifacts, but if the nuget is incoming I'll wait

[2019-05-02 18:52] mjsabby commented on #84
well it'd be great if you could try it :)

[2019-05-02 19:22] yowl commented on #84
Sure, but you'll have to answer my noobie question first.  libLLVM.dll,  in the artifacts this is present and is  174KB.  I currently have from a nuget reference `<Content Include="..\..\..\packages\libllvm\6.0.0-beta1\runtimes\win-x64\native\libLLVM.dll"` which is around 41MB, so clearly these are not the same.  Am I meant to build libLLVM to create a library that links in `MergeLLVM.lib` if so h

[2019-05-03 02:23] yowl commented on #84
Doing the compilation against LLVMSharp.dll (and ignoring the libllvm.dll for now).  I notice that when passing a stringRef ,e.g `CreateCompileUnit` http://llvm.org/doxygen/classllvm_1_1DIBuilder.html#a7b242bb279f52ed3f95e616abdad3839, param `Producer` the length parameter is of type `IntPtr` which seems a bit odd, but not a big deal, I just need to cast, i.e.
[code]

[2019-05-03 04:09] mjsabby commented on #84
@yowl I botched up something .. will look. Possibly the exports file generation.

[2019-05-06 00:29] yowl commented on #84
I can compile, but at run time it looks for `llvm-c.dll` which I dont seem to have in my llvm installation.

[2019-05-09 12:52] yowl commented on #84
@mjsabby  I can see the ouput but not the yaml, so can't see how it is adding nor generating `llvm-c.dll` as that appears to be added as an import library not a static library.  I built llvm locally but dont have that dll, confused...

[2019-05-29 19:19] ericsink commented on #84
Just to verify, nobody has gotten a working libLLVM.dll for 8.0 yet, right?

I've been trying to either find or build this DLL, but it looks like we're not there yet.

[2019-05-29 19:50] tannergooding commented on #84
@ericsink, you can download the prebuilt binaries from http://releases.llvm.org/download.html#8.0.0

[2019-05-29 19:57] mnxn commented on #84
no libLLVM.dll there
the windows llvm builds are missing a lot of libraries and tools

[2019-05-29 19:59] ericsink commented on #84
@tannergooding Whoa -- do the prebuilt releases contain libLLVM.dll ?  I'm referring to the single big libLLVM shared library, for Windows, suitable for attempting to use with LLVMSharp.

I've seen indications that for Windows, building libLLVM.dll is not supported by the main LLVM build system.  And my attempts confirm this.

NuGet has one, but it's version 7.0.

I've seen efforts in that directi

[2019-05-29 20:52] yowl commented on #84
On Windows, I built llvm 9 (top of tree), used the v8 interop llvmsharp dll from the builds linked above and compiled a corert program with it.  However have not been able to actually run it due to a problem with wasm-ld https://bugs.llvm.org/show_bug.cgi?id=41717

[2019-05-29 20:52] tannergooding commented on #84
Ah, right. I had manually patched my install after I built locally, which is why it's in my install folder 🤦‍♂

Let me see if I can get it built locally again and I'll share out once completed or update if it fails.

[2019-05-29 22:25] tannergooding commented on #84
Ok, I got everything working at least from the perspective that you can generate a DLL that is usable for `LLVMSharp`:
[LLVM-C.zip](https://github.com/microsoft/LLVMSharp/files/3234682/LLVM-C.zip)

[2019-05-29 22:25] tannergooding commented on #84
Namely, when you build LLVM the `libllvm` dynamic library is not built by default and you must turn on `LLVM_BUILD_LLVM_DYLIB`. However, that particularly setting does not currently work for MSVC.

However, on Windows, there is the `LLVM_BUILD_LLVM_C_DYLIB` option instead. That option defaults to off in `release_80` but was recently changed to default to on in `master`.

If you follow the normal d

[2019-05-29 22:27] tannergooding commented on #84
For reference, the zip I attached above was the `Release` build for https://github.com/llvm-mirror/llvm/commit/d519e424c503d2d2a723284664a509a6cd5401a8, which is the current head of https://github.com/llvm-mirror/llvm/tree/release_80.

It was built using Visual Studio 2019 version 16.2 Preview 1

[2019-05-29 22:55] ericsink commented on #84
Hmmph.  I guess I was making this harder than it needed to be.

I had gone through similar steps and ended up getting `LLVM-C.dll`, but when I compared it to `libLLVM.dll` from the nuget pkg and saw that it (1) had a different name, and (2) was much smaller , I assumed it couldn't work.

I'll give it a try.  Thanks.

[2019-05-30 19:38] ericsink commented on #84
FWIW update:

The LLVM-C.dll posted by @tannergooding is working fine for me with LLVMSharp.

[2019-05-30 19:57] tannergooding commented on #84
It's worth noting that I talked with @mjsabby and determined that LLVMSharp was previously going through some steps to produce its own `libllvm.dll` library here: https://github.com/microsoft/LLVMSharp/tree/master/tools/libLLVM

Namely, it was working around the fact that several methods such as `LLVMInitializeAllTargetInfos` are not proper exports and are instead inline functions.

I updated Clan

[2019-05-30 20:29] mjsabby commented on #84
@tannergooding has it right. So this is an agility relief for me. I'll release LLVMSharp 8.0 final soon.

[2019-05-31 00:28] cloudrex commented on #84
should we change the version in the commit title?

[2019-06-01 16:17] tannergooding commented on #84
Just as an FYI, the `libLLVM` package (and likely the `libClang` package) could use some fixing before being published (and should be dependencies of the respective LLVMSharp and ClangSharp packages).

For example, It currently only has a targets file for net461, which results in warnings/errors when restoring for netcore or netstandard projects.

They also can't be recognized by native projects a

[2019-06-09 03:15] tannergooding commented on #84
Going to close this as resolved now.

Both `libClang` and `libLLVM` have `8.0.0` packages available on NuGet. In both cases, these are small RID aware packages that reference 11 RID specific packages that contain the actual native assets (these are 11/12 of the platforms that LLVM natively distributes binaries for, minus PowerPC as that is not supported by .NET Core today).

The upside to this is

[2019-06-09 03:15] #84 closed

[2019-06-12 23:21] DaOnlyOwner commented on #84
You should probably update the README so it specifies the correct version.

[2019-06-24 14:28] yowl commented on #84
I'm a bit confused.  Is there going to be a new nuget for LLVMSharp?

[2019-07-06 15:53] moien007 opened #106 "LLVM.TargetMachineEmitToFile usage example"
How can I use `LLVM.TargetMachineEmitToFile`?

[2019-07-12 02:25] pjc0247 opened #107 "Tutorial links are broken"
https://github.com/microsoft/LLVMSharp#kaleidoscope-tutorials

Chapter 3~5 does not work

[2019-07-12 11:12] ice1000 commented on #107
They're in https://github.com/microsoft/LLVMSharp/tree/master/samples/KaleidoscopeTutorial

Btw https://ice1000.org/llvm-cs/en/

[2019-07-12 17:36] tannergooding commented on #107
Happy to take a PR if someone wants to fix these. Otherwise, I'll try to get to it this weekend.

[2019-07-13 17:42] ice1000 commented on #107
PRed!

[2019-07-13 22:00] #107 closed

[2019-08-11 18:34] PaddiM8 opened #111 "[Question] Type checking and casting eg. [3 x i8] to i8*"
I have been looking through the source code and the C++ documentation to try to figure out how to type check more complex types to check if they can be casted.

Here's an example of what gets compiled:
`string hi = "hello";`
`hi` will be of type i8*, and "hello" will be a constant [5 x i8]. Now I would want the compiler to automatically cast [5 x i8] to i8*. To do so, the compiler needs to know *i

[2019-08-14 19:28] talyian opened #113 "ClangPInvokeGenerator Script is gone"
it was removed as part of cleanup at https://github.com/microsoft/LLVMSharp/commit/19a14a7a2af5b4fbe8973e5dadcfe782869fb43e#diff-6ee4afc3584f3c677a11a8b9a74ea1bb

but now it's unclear the incantations used to freshly generate source from llvm-c-8 headers.

At the very least the something resembling

`dotnet run --m LLVM --p LLVM --namespace LLVMSharp --output Generated.tmp.cs --libraryPath $1 --in

[2019-08-15 17:05] tannergooding commented on #113
It was removed as it was undesirable to continue maintaining a separate copy of clangsharp in the llvmsharp repo.

For right now, there is a separate run target in the ClangSharp repo here: <https://github.com/microsoft/ClangSharp/blob/master/sources/ClangSharpPInvokeGenerator/Properties/launchSettings.json> that represents the exact args used to generate the current LLVMSharp sources.

Once https

[2019-09-12 10:02] TillAlex opened #115 "Native library not copied to output directory"
I am referencing the libLLVM 8.0 nuget package from a .NET standard 2.0 which is referenced by a .NET Core 2.0 as well as a .NET Framework 4.7.1 project. In both cases the libLLVM is not copied to the output folder.

Even if I reference the libLLVM.runtime.win-x64 Nuget package directly libLLVM.dll is not copied. Currently the only way to make it work is referencing libLLVM.dll from the nuget fold

[2019-09-14 21:46] mjsabby commented on #115
I think the way nuget works is you may have to publish to the specific RID. Can you try dotnet publish -c Release -r win-x64 and see if it gets placed here?

[2019-09-17 14:15] TillAlex commented on #115
Thanks for the hint. Using an explictit runtime identifier the native library gets placed. To make it work in Visual Studio I had to add

`<RuntimeIdentifier>win-x64</RuntimeIdentifier>`

to the project file.

[2019-09-17 14:15] #115 closed

[2019-09-17 15:08] tannergooding commented on #115
I would recommend `<RuntimeIdentifier Condition="'$(RuntimeIdentifier)' == ''">$(NETCoreSdkRuntimeIdentifier)</RuntimeIdentifier>`.

The above will use the given RID if one is specified (which allows cross-compiling, for example) and otherwise defaults to the RID of the .NET SDK that the build is actively being driven by (which should ensure you get something that works for the current machine).

[2019-09-17 22:02] TillAlex commented on #115
@tannergooding Would be great to automatically use the correct RuntimeIdentifier. Unfortunately your idea does not work on my machine. Seems that NETCoreSdkRuntimeIdentifier is not set here. Any idea what I am doing wrong?

[2019-09-17 22:03] tannergooding commented on #115
Are you building with `msbuild` rather than `dotnet build` or `dotnet msbuild`?

[2019-09-17 22:07] TillAlex commented on #115
It does not work no matter if I am using dotnet build or Visual Studio 2019.

[2019-09-20 17:30] tannergooding opened #116 "Update to LLVM v9.0.0"
LLVM v9.0.0 was just released and both libLLVM and the bindings should be updated to use it.

[2019-09-23 20:13] tannergooding commented on #116
Most, but not all, of the pre-built binaries are up now (http://releases.llvm.org/download.html#9.0.0), so I can likely start on this soon.

[2019-10-09 12:50] TillAlex opened #117 "Wrong libLLVM.so for linux-arm and linux-arm64"
It seems that the nuget runtime packages for linux contain wrong binaries:

`nvidia@jetson-0423818076660:~$ file .nuget/packages/libllvm.runtime.linux-arm64/8.0.0/runtimes/linux-arm64/native/libLLVM.so
.nuget/packages/libllvm.runtime.linux-arm64/8.0.0/runtimes/linux-arm64/native/libLLVM.so: ELF 64-bit LSB shared object, x86-64, version 1 (GNU/Linux), dynamically linked, BuildID[sha1]=5d6dde93e1432

[2019-10-19 23:15] cloudrex commented on #116
Any updates on this?

[2019-11-04 21:03] tannergooding commented on #116
The libLLVM binaries are not built for the majority of the platforms by default, so it will require some time/effort to build them manually instead.

[2019-11-16 23:32] tannergooding commented on #116
I have machines setup for the various distro's that are built by default. I've started the work on getting libLLVM built for each.

[2019-11-21 21:20] tannergooding commented on #117
I'll see about getting the correct version up for this as part of the getting the libLLVM 9 packages up.

[2019-11-21 21:23] tannergooding commented on #116
I have win-x86, win-x64 done (pre-built)

I have also completed ubuntu-1604, ubuntu-1804, ubuntu-1904, freebsd-x86, and freebsd-x64 (locally built, as pre-built binaries don't exit)

The macOS build is going now and packages can start being pushed once that completes.

I still need to build linux-arm, linux-arm64, and sles to round out the package list.

[2019-11-21 21:49] TillAlex commented on #117
Thanks in advance!

[2019-11-25 19:16] tannergooding commented on #116
This is done now. I'm logging issue tracking the remaining rid specific packages.

[2019-11-25 19:16] #116 closed

[2019-11-25 19:19] tannergooding opened #122 "Add the missing RID specific packages for libLLVM 9.0.0"
Most of the RID specific packages for libLLVM v9.0.0 were published with #121. Still TODO, however, are:
- [x] linux-arm
- [x] linux-arm64
- [x] sles

[2019-11-25 19:20] tannergooding commented on #78
This is probably an issue that should be opened against libLLVM and libClang proper as ideally we would move entirely to pre-built binaries.

[2019-11-26 00:57] mjsabby commented on #78
Now that you have everything building as such it probably does make sense that way. We may have to move till their GitHub move.

[2019-12-01 16:01] yowl opened #123 "LLVM 8.0.0 beta string parameters are *sbyte"
Hi,  I know its beta, but is the plan to allow strings to be passed to LLVM functions without converting to *sbyte.  In 5.0.0 this was possible:

[code]
In 8.0.0, the parameter is a `sbyte*`.  Plus most of the functions now return pointers meaning that using classes need to be `unsafe`.  Is that by desgin?

[2019-12-01 16:04] yowl commented on #123
I see that the OOP approach is ok, i.e. that line can be instead:
[code]
Is the OOP approach the way forward?

[2019-12-01 18:56] tannergooding commented on #123
The short answer: Yes.

Automatically generated interop bindings really need to be a 1-to-1 mapping as there are too many variables that come into play otherwise. It is almost impossible, especially when cross-platform comes into play, to correctly determine if an arbitrary `char *` on the native side should be a `sbyte[]`, a `string`, a `ref sbyte`, an `out sbyte`, or some other binding on the ma

[2019-12-02 01:04] yowl commented on #123
Thanks for the explanations.  I will move to the instance methods.

[2019-12-02 01:04] #123 closed

[2019-12-02 13:51] yowl opened #124 "Question: Migrating to OOP - DIBuilder"
Are there OOP equivalents for the DIBuilder funcitons, .e.g. `LLVMCreateDIBuilder`, `LLVMDIBuilderCreateCompileUnit`, `LLVMDIBuilderCreateFile`, `LLVMDIBuilderCreateDebugLocation` ?

[2019-12-02 16:50] tannergooding commented on #124
Not currently.

There are a number of the "raw" APIs that don't have the minimal wrapper bindings yet. If they existed they would be defined here: <https://github.com/microsoft/LLVMSharp/blob/master/sources/LLVMSharp/Interop.Extensions/LLVMDIBuilderRef.cs>

PRs are more than welcome if you would like to try adding them. Otherwise, I should (hopefully) be getting to it sometime this month.

[2019-12-02 22:36] yowl commented on #124
Sure, I can do a PR for the ones I create.   Any idea how I should create the `LLVMOpaqueContext **` for `DIBuilderCreateSubroutineType` .  I mean it looks like a pointer to an c style array, but how do I do that from c#, pinning GCHandles?

[2019-12-02 23:16] tannergooding commented on #124
For ClangSharp, I had been returning or taking `Span<>`/`ReadOnlySpan<>`.

You can see https://github.com/microsoft/ClangSharp/blob/ff9e62f98b047d7f2142c807be6be548afcd74e6/sources/ClangSharp/Interop.Extensions/CXCursor.cs#L168, https://github.com/microsoft/ClangSharp/blob/2321198c105452a52275a452e0e91c3d65bf4574/sources/ClangSharp/Interop.Extensions/CXTranslationUnit.cs#L221, and https://github.c

[2019-12-04 01:11] yowl commented on #124
Thanks, I'm sure I'll have more questions, but can take them up in the PR.

[2019-12-04 01:11] #124 closed

[2019-12-31 13:26] yowl opened #126 "update nuget 9 beta"
Hi, would it be possible to push a new nuget with the latest PRs?  I'd like to update to 8 in https://github.com/dotnet/corert but want the DI stuff.  Thanks.

[2020-01-11 17:12] yowl commented on #126
Sorry, mean 9 beta, not 8.

[2020-01-16 11:52] TillAlex commented on #117
In the meantime I am using binaries from the ubuntu package. However the library is named libLLVM8.so here. I can fix this by creating a symlink, but I am asking myself where this should be fixed correctly.

Is it expected that the package maintainers create a symlink libLLVM.so -> libLLVM8.so or should LLVMSharp use libLLVM8 as the library path in the DllImports?

[2020-01-29 00:30] andyjansson opened #127 "Support trampoline intrinsics"
There doesn't seem to be any way of creating [trampolines](https://llvm.org/docs/LangRef.html#trampoline-intrinsics) using LLVMSharp.
It would be great if this feature was added.

[2020-02-08 19:32] tannergooding commented on #126
This has now been uploaded: https://www.nuget.org/packages/LLVMSharp/9.0.0-beta

[2020-02-08 19:32] #126 closed

[2020-02-08 20:25] yowl commented on #126
Thanks!

[2020-03-04 22:29] Xawx opened #128 "undefined reference to `main'"
Hi!

I generated `sum.bc` file with code from [Readme](https://github.com/microsoft/LLVMSharp)

then I took LLVM 9 from https://apt.llvm.org/ and installed it on Debian 10 (Hyper-V)

	# LLVM
	apt-get install libllvm-9-ocaml-dev libllvm9 llvm-9 llvm-9-dev llvm-9-doc llvm-9-examples llvm-9-runtime
	# Clang and co
	apt-get install clang-9 clang-tools-9 clang-9-doc libclang-common-9-dev libclang-9-dev

[2020-03-06 21:13] #128 closed

[2020-03-16 17:55] ericsink opened #129 "Was there any discussion around the removal of LLVMSharp.API?"
All the LLVMSharp.API stuff was removed in commit

bc6c79b4e418a82514a99d6885ad43e21bbd55cc

back in June.

I've been looking around trying to find discussion around this change, but I'm not seeing it.  Does anyone have any further context?

I assume that OO-style API (1) was removed intentionally, and (2) didn't move somewhere else, and (3) is not planned to come back.  Is all that correct?

Befo

[2020-03-16 18:03] tannergooding commented on #129
There was some discussion on the actual PR: https://github.com/microsoft/LLVMSharp/pull/105

The low level bindings made generating and picking up updates much easier (and ensured the lowest level API was correct). However, it also meant that the entire `LLVMSharp.API` needs to be rewritten.
An equivalent of `LLVMSharp.API` can and likely should be implemented, but it isn't something that is being

[2020-03-16 18:06] ericsink commented on #129
Ah, that's very helpful.  Thanks.

[2020-03-17 08:52] TChatzigiannakis commented on #129
@ericsink If you need something like `LLVMSharp.API` perhaps I could discuss it with @tannergooding and see what we can generate from what we have now. So far I just had assumed there was no interest in that namespace.

[2020-03-17 15:33] ericsink commented on #129
Nah, I'm fine.  I'm making good progress switching things over.

[2020-04-10 00:12] yowl opened #130 "RID linux-x64 for CoreRT"
Hi,  I'm trying to fix the linux build of the Wasm backend of CoreRT (https://github.com/dotnet/corert) and I think I have a problem with LLVMSharp and more specifically libLLVM.  When CoreRT builds it uses a rid of `linux-x64` goes which into `$__NugetRuntimeId`  which it passes to `dotnet build` as `/p:NuPkgRid=$__NugetRuntimeId`  .  From what I can see this RID is not present for libLLVM, i.e.

[2020-04-10 00:45] tannergooding commented on #130
libLLVM is a native component generally built by LLVM and downloaded from the pre-built binaries: https://releases.llvm.org/download.html

As far as I know, there isn't a "generic" linux binary and so you need to actually resolve the underlying OS such as `ubuntu.18.04` or `ubuntu.16.04`. This might be something that the .NET SDK could handle better by passing in the actual OS version rather than

[2020-04-10 00:53] yowl commented on #130
Thanks, but how does https://www.nuget.org/packages/libLLVM.runtime.ubuntu.18.04-x64/ relate to the prebuilt binaries at https://releases.llvm.org/download.html?  Are you saying that I don't need to get it to resolve to a nuget package if I download from llvm.org directly and hence have the right .so in e.g. /usr/lib

[2020-04-10 01:15] tannergooding commented on #130
The `libLLVM.runtime.ubuntu.18.04-x64` and related packages are created from the prebuilt binaries available at https://releases.llvm.org/download.html (when possible, there are a couple distro's that don't have `libLLVM.so` built by default).

That should also work, but I was just trying to clarify that there isn't a `linux-x64` version and I don't believe we can create one.

[2020-04-10 14:29] yowl commented on #130
I'm nearly there I think.  I understand about the RID problem with CoreRT so am pursuing how to get a `libLLVM.so`. The downloads from llvm.org don't contain the `.so` just the `.a`s.

[code]
So I thought I would see in the yml or scripts for LLVMSharp some library command (`ar` or `ld` maybe) that creates the `.so` from the `.a`s but I can't see that.

[2020-04-11 22:28] yowl commented on #130
Will close as I believe there is nothing wrong here, and its just CoreRT's use of the RID `linux-x64` which is the problem.  `dotnet restore -r ubuntu.18.04-x64 libLLVMdep.depproj` and then a cp to /usr/lib is the workaround for me.

[2020-04-11 22:28] #130 closed

[2020-04-14 05:24] tannergooding commented on #122
The linux-arm64 and sles packages are up for both 9.0.0 and 10.0.0 now.

I've completed and validated the bits for arm 10.0.0 and am working on doing the same for 9.0.0.

[2020-04-14 23:42] tannergooding commented on #122
This should be resolved.

[2020-04-14 23:42] #122 closed

[2020-04-14 23:42] tannergooding commented on #117
This should now be resolved for LLVM 9 and 10. For 10, there will be a DllImportResolver that checks the well-known symlink names: https://github.com/microsoft/LLVMSharp/pull/132

[2020-04-14 23:42] #117 closed

[2020-04-14 23:43] tannergooding commented on #25
`LLVMBuilderRef` has instance methods (under `Interop.Extensions`) in the current implementation

[2020-04-14 23:43] #25 closed

[2020-04-15 17:12] michalchecinski opened #133 "Print and read input functions with LLVMSharp"
I write my own language using LLVMSharp. Currently I want to make print to standard output and read from standard input.

I tried looking into other projects but found nothing. One thing that I came up with is using printf from C or other language. But I don't know how to embed stdio.h

[2020-04-16 07:01] mjsabby commented on #49
We have the DllImportResolver now, no need for this.

[2020-04-16 07:01] #49 closed

[2020-04-17 15:52] TillAlex opened #134 "Reading ParamTypes of function types fails"
When reading the ParamTypes of function types an array with the correct number of elements is returned, but all returned types have 0x0 handles. These lines reproduce the issue:

[code]

[2020-04-17 22:05] #134 closed

[2020-04-18 08:50] TillAlex commented on #134
Thanks a lot! Would you mind pushing a new Nuget package?

[2020-04-18 18:33] tannergooding commented on #134
I'll try to get a new package up this weekend.

I'm attempting to get some other changes in for 10.0.0 including `Span` overloads and a new "managed" API that mirrors the LLVM C++ API first.

[2020-04-18 21:13] tannergooding commented on #129
I've started the work on a replacement for `LLVMSharp.API` here: https://github.com/microsoft/LLVMSharp/pull/137

[2020-04-24 21:12] TillAlex opened #138 "String version of BuildMul(...) calls itself instead of span overload"
Calling the string version of BuildMul leads to a stack overflow because it calls itself instead of span version:

https://github.com/microsoft/LLVMSharp/blob/101774800b7f03b7a492f882adacbe1d5fcc0499/sources/LLVMSharp/Interop.Extensions/LLVMBuilderRef.cs#L426

[2020-04-24 21:30] tannergooding commented on #138
Oops, will get a fix up later tonight if no one else grabs it first.

[2020-04-24 22:48] #138 closed

[2020-04-27 05:16] moien007 commented on #106
Here is an example usage
https://github.com/csnewman/Santol/blob/d5cff811dbe1be837095f55de3f8a720e0a4e9e2/Santol/Generator/CodeGenerator.cs#L82

[2020-04-27 05:16] #106 closed

[2020-05-28 15:23] yowl opened #140 "DataLayout class implementation"
I'm a little confused about how this is implemented in LLVMSharp.  It's possible to set the DataLayout string, but the function `getDataLayout` that returns an object with methods as per https://stackoverflow.com/questions/32299166/accessing-struct-members-and-arrays-of-structs-from-llvm-ir is not there and so I thought I'd try to add it.  But the methods already seem to be used for getting and se

[2020-05-28 17:54] tannergooding commented on #140
`llvm::DataLayout` is the C++ API while `LLVMGetDataLayout` and related functions are part of the C API. Given we bind over the C API, we can only loosely reconstruct the C++ API and we have currently only done that for a limited subset of types.

In order to expose more closely mirroring the C++ API, there would need to be a `Module` class which wraps the `LLVMModuleRef` and which exposes a `Data

[2020-05-28 23:14] yowl commented on #140
Ok, but I'd have to add the methods to `LLVMTargetDataRef` anyway so what is the wrapper giving, e.g.

in `LLVMTargetDataRef`
[code]
and then a wrapper:
[code]

Maybe it would be easier if I just fill it all out and create a PR and you can comment there?

[2020-05-30 18:42] jangofett4 commented on #90
Issue seems to be resolved

[2020-05-30 18:42] #90 closed

[2020-05-30 20:06] mjsabby commented on #23
Obsolete

[2020-05-30 20:06] #23 closed

[2020-05-30 20:06] mjsabby commented on #6
Obsolete

[2020-05-30 20:06] #6 closed

[2020-05-30 20:07] mjsabby commented on #5
Obsolete, other work is being tracked elsewhere.

[2020-05-30 20:07] #5 closed

[2020-05-30 20:07] #13 closed

[2020-05-30 20:07] #24 closed

[2020-05-30 20:07] #26 closed

[2020-05-30 20:07] #57 closed

[2020-05-30 20:08] #77 closed

[2020-05-30 20:08] #78 closed

[2020-05-30 20:09] mjsabby commented on #113
@tannergooding can this be closed?

[2020-05-30 20:09] mjsabby commented on #64
@TChatzigiannakis given the recent work, is this issue obsolete?

[2020-05-30 22:56] tannergooding commented on #113
Yes, I think so. The only thing that could really be done additionally is to add a `-generate` option to the build scripts which invokes the global tool.

[2020-05-30 22:56] #113 closed

[2020-05-31 03:44] mjsabby commented on #16
With work from Tanner, this issue is no longer relevant.

[2020-05-31 03:44] #16 closed

[2020-06-04 10:48] TChatzigiannakis commented on #64
@mjsabby I'd say so, yes.

[2020-06-04 18:24] #64 closed

[2020-08-14 22:56] lukechu10 opened #142 "LLVM.GetTargetFromTriple in OO api"
There does not seem to be an equivalent method in the object oriented api.

[2020-08-23 01:17] yowl opened #143 "12.0.0-beta version please"
Hi, emscripten runs top-of-tree llvm which is now llvm 12.  Can we have a corresponding llvmsharp nuget please?

[2020-08-25 09:57] jangofett4 commented on #142
Yes I also realized this, this is the only way I could make it work:
[code]
Also `GetBitcodeModule` functions seem to be not ported to object orinted API either.

[2020-08-25 16:47] lukechu10 commented on #142
Thanks a lot. I have been looking for a workaround for weeks now. 😃

[2020-08-26 11:24] jangofett4 commented on #142
Yeah, no problem 😉. I want create a new pull request for these missing methods but I need to research the code structure more.

[2020-08-27 16:31] tannergooding commented on #143
I don't think keeping LLVMSharp up to date with top-of-tree will be sustainable. The managed bindings, native bindings, and any helper libraries all need to match very exactly otherwise various ABI issues tend to crop up causing sporadic failures or hard to diagnose issues.

Trying to keep up to date with the previews, if any, might be somewhat possible, but LLVM tends to only tag/preview release

[2020-08-27 16:34] yowl commented on #143
Ok, understand.  When I start asking questions to the emscripten people, one of the things they ask is "did you build your LLVM with the same version that emscripten uses", so keeping LLVMSharp as close as possible helps to alleviate that problem.

[2020-08-27 16:34] #143 closed

[2020-08-27 16:36] tannergooding commented on #143
I would be happy to take contributions that make it easier to build/use LLVMSharp locally against a specific build of LLVM.

[2020-08-27 16:50] tannergooding commented on #142
The nicer managed wrapper tries to mirror the C++ API structure where possible, there are naturally chunks missing and so not everything can be mirrored perfectly.

[2020-08-27 20:29] yowl opened #145 "createLocalVariable not generated in LLVM.cs"
If I understand correctly LLVM.cs is autogenerated ?  The debug function `createLocalVariable`  from DIBuilder.cpp is not present, perhaps because of the `SmallVector` in the signature?

[code]

[2020-08-27 21:41] tannergooding commented on #145
`createLocalVariable` is a private method that is part of the source files and isn't even available to normal C++ code.

`LLVMSharp` only exposes method signatures exported from the `llvm-c` public header files, notably: <https://github.com/llvm/llvm-project/tree/master/llvm/include/llvm-c>

[2020-08-27 21:42] tannergooding commented on #145
C++ code has access to more, generally covering the public header files available here: <https://github.com/llvm/llvm-project/tree/master/llvm/include/llvm>

However, due to ABI differences and name mangling, consuming those from C#/.NET is non-trivial.

[2020-08-27 22:19] yowl commented on #145
This one is important for getting access to locals in the debugger.  I think this parameter, which seems to be to do with preventing a variable getting inlined, could be null for now and if AlwaysPreseve == false, then its not used:
[code]

I'm going to try that with a local DllImport to see if I can get locals displaying, if it works maybe we could think about how to incorporate it, perhaps just

[2020-08-27 22:34] tannergooding commented on #145
I'm fairly certain you aren't meant to use that function and are instead meant to use things like `DIBuilder::createAutoVariable` and `DIBuilder::createParameterVariable`.

These are exposed via the C API as `LLVMDIBuilderCreateAutoVariable` and `LLVMDIBuilderCreateParameterVariable`, respectively.

[2020-08-27 22:38] yowl commented on #145
Ah, you may be right, I was reading https://llvm.org/devmtg/2014-10/Slides/Christopher-DebugInfoTutorial.pdf which is very old.  I'll do some more investigation on `LLVMDIBuilderCreateAutoVariable `

[2020-09-09 08:32] alexrp opened #147 "Are there plans to support win-arm/win-arm64?"
To be clear, I have no knowledge of whether LLVM/Clang even build on win-arm/win-arm64 at the moment. I'm just going through the list of targets I plan to support in my project and noticed that [LibLLVM](https://www.nuget.org/packages/libLLVM) doesn't have `win-arm`/`win-arm64` versions, so I'm wondering if there are plans to support these.

[2020-09-18 14:23] #145 closed

[2020-09-18 14:27] yowl opened #148 "ReplaceAllUsesWith is very slow"
This method is very slow, not actually sure it completes as I gave up waiting.  Other replace methods such as listed http://llvm.org/docs/ProgrammersManual.html#replacing-an-instruction-with-another-value are not available which make certain compilation tasks awkward and non optimal.  E.g. If I want a gep through out a function but dont know the offset until compilation has analysed all the input

[2020-09-24 16:58] NickStrupat opened #149 "NuGet package 10.0.0-beta"
Does anyone know/remember what's remaining to get this package up to `10.0.0`?

[2020-09-24 17:06] tannergooding commented on #149
The raw bindings (<https://github.com/microsoft/LLVMSharp/tree/master/sources/LLVMSharp/Interop>) and minimal wrapper API (<https://github.com/microsoft/LLVMSharp/tree/master/sources/LLVMSharp/Interop.Extensions>) should be stable and could be published as a 10.0.0 package.

The proper managed wrapper (such as <https://github.com/microsoft/LLVMSharp/tree/master/sources/LLVMSharp/Values>, <https://

[2020-09-24 17:15] NickStrupat commented on #149
Would this mean one package for raw bindings and one package for managed wrappers? Raw could be `LLVMSharp.Interop` and managed wrapper could be `LLVMSharp.Managed`.

Apologies for my confusion, but it sounds like the managed wrappers need to be updated to match the raw binding changes caused by an API change from LLVM 9 -> 10. Is that correct? In other words, can I approximate what work needs to

[2020-09-24 17:22] tannergooding commented on #149
Yes, that could be a possibility. Although I think `LLVMSharp` and `LLVMSharp.Interop` might be better.

Not quite. The API surface was changed pretty drastically between 5.0.0 and 8.0.0-beta. Namely the interop bindings went through some breaking changes to make them easier to generate and maintain.

The high level managed wrapper is also a complete rewrite and is being designed to more closely m

[2020-09-24 17:39] NickStrupat commented on #149
Ok thanks. I'll take a look at the C++ bindings to get some more context.

A bit of a tangent, but have you looked at using ClangSharp to consume the C++ bindings and try to generate the managed wrapper classes automatically? I'm guessing you have, but I had to ask :)

[2020-09-24 17:51] mjsabby commented on #149
I personally don't like the idea of two assemblies for essentially the same functionality. It is sort of expected that the LLVM C APIs are somewhat stable, but not completely. I mean LLVM makes a lot of breaking changes (or at least did in the past). Couldn't we follow the same model?

Also is the -beta thing more of an annoyance or does it cause grievance when including in a product (because it i

[2020-09-24 17:59] ericsink commented on #149
Possibly clueless question:

Is it true that the reason these two things have different notions of stability is because the raw bindings are auto-generated while the proper managed wrapper requires stuff to be done by hand?

[2020-09-24 18:05] tannergooding commented on #149
The raw bindings are auto-generated and since they are generated as 1-to-1 they should always be "correct" and therefore are basically stable from the moment they are checked in (minus minor bugs or issues that can easily be patched).

The higher level bindings however, are a manually written API that has a higher chance of introducing bugs or mistakes and which might not be in the right shape bas

[2020-09-24 18:07] tannergooding commented on #149
I'm not worried about introducing breaks between 10.0.0 and 11.0.0, as that just follows the standard SemVer model.

I am concerned with saying the current managed wrapper is "stable" at 10.0.0 and then breaking it in 10.0.1 because some more work was done and we found things weren't done the right way.

Using 10.1.0 might be easier, but if LLVM itself ships a 10.1, then it might get confusing as

[2020-09-24 18:59] NickStrupat commented on #149
Currently it's an annoyance for myself, but it will develop into a grievance as my project progresses.

Valid technical issues aside, I think the beta tag causes some doubt about the authority of the `LLVMSharp` package. When a package of a project on `github.com/microsoft` sits in beta for many months, it signals to package consumers that it may have been abandoned or at least isn't receiving the

[2020-09-24 19:01] NickStrupat commented on #149
Could we not, in principle, walk the declarations of the LLVM C++ API using `ClangSharp` and generate managed wrappers?

[2020-09-24 19:13] ericsink commented on #149
For this reason, I think of these as two rather different pieces of software, and having them be separate packages would make sense to me.

[2020-09-24 19:21] tannergooding commented on #149
Not easily. There isn't a 1-to-1 mapping (or even always a clear mapping) between the C types and APIs exposed and the available C++ APIs.

It's really a best effort approach after examining the C API and comparing to what the C++ API exposes.
In some cases, you can also define an additional library (like we do with `libClangSharp` for `ClangSharp`) to help fill some gaps (with appropriate issues

[2020-09-24 19:23] tannergooding commented on #149
That being said, now that .NET 5 work is slowing down as we prepare for the November release; I might be able to put some more effort in here to try and finish rounding it out.

[2020-10-13 16:16] tannergooding opened #150 "Update to LLVM 11.0.0"
LLVM 11.0.0 was released on Oct 12th, the repo should update to be able to use it.

[2020-10-15 15:09] #111 closed

[2020-10-19 17:09] tannergooding commented on #150
libLLVM:
- [ ] FreeBSD 11 x64 - No pre-built binary
- [ ] FreeBSD 11 x86 - No pre-built binary
- [ ] Linux ARM - No pre-built binary
- [ ] Linux ARM64 - No pre-built binary
- [ ] OSX x64 - No pre-built binary
- [ ] SLES x64 - No pre-built binary
- [ ] Ubuntu 16.04 x64 - No pre-built binary
- [ ] Ubuntu 18.04 x64 - No pre-built binary
- [ ] Ubuntu 20.04 x64 - No pre-built binary
- [x] Win x64
- [ ]

[2020-10-26 18:22] #150 closed

[2020-11-12 05:54] jackoalan opened #152 "Could MarshaledString (and others) be made public?"
Since there is a considerable portion of the raw API bindings that aren't implemented in the managed bindings, some raw calls are required in special cases. Many of the unimplemented raw calls accept string parameters (e.g. `LLVM.AddModuleFlag`), but since `MarshaledString` is internal, the application needs to reinvent this wheel within its own assembly.

[2020-11-12 20:21] tannergooding commented on #152
I think it would be better to just ensure the relevant overloads are exposed. I'm not completely against exposing `MarshaledString`, but just exposing things like `AddModuleFlag` on `LLVMModuleRef` seems like the overall better approach to this.

[2020-11-14 22:40] #152 closed

[2020-12-04 13:08] delreluca opened #154 "Executing long IR listing in MCJIT works on macOS but crashes on Windows (both .NET Core 3)"
Hi there,

I am tinkering with LLVMSharp 5 to compile numerical computations described via formulas. The first goal is running them via MCJIT on x86-64. I have code at https://github.com/delreluca/AutoExpr/commit/d6ebef7cc41f06079c5b6ebb0783d640a4c4a737

I am a beginner and want to describe my problem to understand whether it's more on the .NET side or on the LLVM side. If this is not the correct

[2020-12-05 12:00] delreluca commented on #154
I solved it by updating libLLVM to 6.0.1. (As a side effect the ELF target is also not needed anymore.) Even libLLVM 11.0.0. seems to work together with LLVMSharp 5.0.0.

Is this officially supported or might these combinations lead to unexpected errors?

[2021-01-10 02:51] davidelettieri commented on #69
@ChaseLewis could you provide a working example?

[2021-02-16 05:29] NickStrupat opened #157 "`libLLVM` isn't working as expected"
It's my understanding (could be wrong) that if I don't expect LLVM to be installed on the machine running my program, I should install the `libLLVM` package so it will output the LLVM library alongside my program.

Assuming that's correct so far, when my `csproj` is like so:

[code]

...and my `Program.cs` is like so:

[code]

I get this exception, indicating that it can't find the runtime library

[2021-02-16 16:13] tannergooding commented on #157
This is an issue with NuGet/the runtime as dependencies aren't normally copied to the output folder for non-published builds and so, particularly with the RID specific setup libLLVM has to use, there is no way for the runtime to know where to look for the native dependency.

The easiest workaround today is to add the following to the project since that resolves to a RID and allows the correct nati

[2021-02-16 16:25] NickStrupat commented on #157
Oh interesting... so if I specify a RID, I'll get the right libLLVM runtime along with my "published" output? That makes sense.

I guess I assumed NuGet would bring all of them along for the ride until a RID can be determined (by JIT?).

Thanks for you help.

[2021-02-16 16:28] NickStrupat opened #158 "`libLLD`/`LLDSharp` considered/possible?"
Has there been consideration to expand the ClangSharp and LLVMSharp projects to include the LLD (linker) tool? It would be amazing to be able to link full native binaries all from .NET.

[2021-02-16 18:37] tannergooding commented on #157
Just noting that I updated the above property to be conditional, since you want to do that so an explicit RID specified on the command line still works.

[2021-02-27 19:54] yowl opened #159 "Would you consider adding libLLVM.lib to the nuget package ?"
For https://github.com/dotnet/runtimelab/pull/647 I'd like to use the same libLLVM.dll from c# and its corresponding .lib to build the clrjit.  Right now I can't link the clrjit.dll without a libLLVM.lib.  I think my only option at present is to build LLVMSharp myself so I can get the .lib,

[2021-02-27 21:26] yowl commented on #159
I dont mean build LLVMSharp myself, IibLLVM.lib I would get by building llvm-project of course, but I suppose that as part of building LLVMSharp/libLVVM nugets you do have a libLLVM.lib that is built as part of your build of llvm-project?

[2021-02-28 16:04] tannergooding commented on #159
Adding the lib is a fairly C/C++ centric scenario and is likely better acquired via a package manager that is "standard" in C++, such as `vcpkg` or `conan`.
You could also log a bug on `llvm-project` (https://bugs.llvm.org/) requesting they ship the `*.lib` files by default to better enable static linking scenarios.

The binaries built and distributed in NuGet are already fairly bulky and are orie

[2021-02-28 16:04] #159 closed

[2021-03-07 21:18] davidelettieri opened #160 "GetPointerToGlobal fails"
In the following snippet of code the second call to `GetPointerToGlobal` fails. If I move the definition of `f2` above the first call to `GetPointerToGlobal` then everything works fine. I'm not sure if that is the correct behavior and how to define functions after the first one.

[code]

[2021-03-07 22:13] tannergooding commented on #160
Does the same/similar code fail in C/C++?

It would be good to determine if this is a potential binding issue or if this is just a scenario that is unsupported by LLVM.

[2021-03-10 01:06] aparajit-pratap commented on #23
@mjsabby why was this marked obsolete? Is there an easier way to call into managed code using LLVMSharp now? If so, please share.

[2021-03-12 07:07] davidelettieri commented on #160
Hi Tanner, thanks for your response. You're right the code is unsupported by LLVM. Below is a c version of the first snippet of the code.

[code]

[2021-03-12 07:07] #160 closed

[2021-03-17 13:38] DongchengWang commented on #157
I didn't see this, so I had to build `LLVMSharp` myself and then copied `LLVMSharp\artifacts\bin\tests\LLVMSharp.UnitTests\Debug\net5.0\libLLVM.dll` to make it work.

[2021-03-17 13:53] DongchengWang commented on #2
Maybe we need to rewrite the whole Kaleidoscope tutorial in C#?

[2021-03-17 13:54] DongchengWang opened #161 "`LLVMSharp/src` doesn't exist"
The README says `cd LLVMSharp/src` when building LLVMSharp but there is no such directory.

[2021-03-17 15:05] #161 closed

[2021-04-07 20:13] paganaye commented on #22
For those who try this today the signature has changed a bit
I managed to make it work with this code:

`        static LLVMBool False = new LLVMBool(0);
        static LLVMBool True = new LLVMBool(1);

        [UnmanagedFunctionPointer(CallingConvention.Cdecl)]
        public delegate void PrintSumDelegate(int a, int b, int sum);

        [AllowReversePInvokeCalls]
        public static void Prin

[2021-05-23 19:20] Shadowblitz16 opened #163 "Please add the rest of the chapters in the tutorial"
Please add the rest of the chapters in the tutorial

[2021-05-23 21:48] Shadowblitz16 opened #164 ".net 5.0"
can you release this for .net 5.0?

[2021-05-23 22:42] ericsink commented on #164
Is something not working for you?  I use this with .net 5 every day.

[2021-05-24 03:54] Shadowblitz16 commented on #164
it doesn't seem to be on nuget for .net 5

[2021-05-24 16:07] tannergooding commented on #164
You'll need to enable preview packages as the latest release is still beta: https://www.nuget.org/packages/LLVMSharp/11.0.0-beta

It is currently intentionally beta as the object oriented wrapper types are incomplete. I'm currently working on updating to LLVM 12 at which point I may split the library into two parts so we can have stable "raw" bindings and unstable object oriented wrapper types (at

[2021-05-25 00:32] Shadowblitz16 commented on #164
ok thankyou

[2021-05-25 00:32] #164 closed

[2021-05-28 07:19] tannergooding commented on #158
This would be a larger undertaking as LLD does not have C bindings provided out of the box.

I'd be happy to consider providing such bindings *if* official C bindings can first be added to https://github.com/llvm/llvm-project

[2021-05-28 07:21] tannergooding commented on #149
I've split the project into `LLVMSharp` and `LLVMSharp.Interop`.

The `LLVMSharp.Interop` bindings should be generally "stable" each release and so I'll likely be publishing 12.0.0 as "stable" tomorrow. `LLVMSharp` is the managed wrapper over the interop bindings and is not yet "stable", so it will continue to be beta.

[2021-05-28 07:22] tannergooding commented on #147
As of LLVM 12, there are official Windows ARM64 binaries being produce and so the 12.0.0 packages will support that.

There are no official ARM32 binaries and so that will continue to be unsupported.

[2021-05-30 16:32] alexrp commented on #147
I seem to recall reading, at some point after opening the issue, that `win-arm` isn't going to be supported in .NET anymore? If that's right, then this issue can probably be closed.

[2021-05-30 17:31] tannergooding commented on #147
It's currently only supported on Linux (specifically Debian and Ubuntu) and so is, even for those platforms, "blocked" until LLVM adds official support.

[2021-05-30 17:31] #147 closed

[2021-06-07 20:37] andyjansson opened #166 "CreateConstPtrToInt causes "Use of instruction is not an instruction!""
Hi,

I recently converted to LLVMSharp from UbiquitiDotNET/Llvm.NET as the latter has become stagnant and LLVMSharp has seemingly picked up steam again. The conversion went well and everything worked fine, save for one issue. I've distilled the issue to the snippet below. The lines which are commented out are kept for context, but aren't necessary to trigger the error:

[code]

Prints the followin

[2021-06-07 21:19] tannergooding commented on #166
Could you indicate which version of LLVMSharp this was tested with?

If this was with the new v12.0.0-beta, could you also try against v11.0.0 and see if it reproduces please?

[2021-06-07 21:33] andyjansson commented on #166
I should've included that in my original post, apologies. I've tested with `10.0.0-beta`, `11.0.0-beta` and `12.0.0-beta1`. All exhibit the same behavior. UbiquitiDotNET/Llvm.NET, which I converted from, is LLVM 10.

[2021-06-07 21:53] tannergooding commented on #166
I'll give this a look in a bit and see if I can repro.

[2021-06-07 22:13] andyjansson commented on #166
Great, thanks. To provide some additional context, the reason for the `CreateConstPtrToInt(...)` is because I'm implementing variant types. These consist of a tag and a pointer. I convert the pointer to an integer to make the element type invisible to LLVM since different tags can point to different types of data. In the future I hope to use opaque pointers for this instead.

[2021-06-12 12:25] andyjansson commented on #166
Any update on this?

[2021-06-15 13:42] Caeleron opened #167 "Link in README.md no longer correct"
Line three of README.md contains a link to `clangsharp.org`; however, the domain has since been removed and performs several redirects through other sites.

Should this link be `https://github.com/Microsoft/ClangSharp`?

[2021-06-17 14:21] tannergooding commented on #167
Yes. Happy to take a PR if someone would like to fix this :)

[2021-06-17 14:31] tannergooding commented on #166
It looks like this strictly requires the LHS to be `Constant`: <https://llvm.org/doxygen/classllvm_1_1Constant.html> and <https://llvm.org/doxygen/IR_2Core_8cpp_source.html#l01755>.

`LLVMBuildAlloca`  on the other hand returns an `Instruction`: <https://llvm.org/doxygen/classllvm_1_1AllocaInst.html> and <https://llvm.org/doxygen/IR_2Core_8cpp_source.html#l03527>

`CreatePtrToInt` on the other han

[2021-06-17 15:24] andyjansson commented on #166
Hi,

I found `LLVMBuilderRef.BuildPtrToInt` and that fixed my issue. Thanks for your help!

[2021-06-17 15:24] #166 closed

[2021-07-07 12:59] szlatkow opened #169 "Add native GitHub continuous code security and quality analysis"
- [CodeQL](https://github.com/github/codeql) is an open source code scanning tool for discovering vulnerabilities across a codebase

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](https://pipeline.foundation).

[2021-07-07 13:01] szlatkow opened #171 "Add native GitHub security and versioning dependency alerts"
- [Dependabot](https://dependabot.com/) alerts on updates for the project's dated and vulnerable dependencies and automatically creates PRs to easily update them

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](https://pipeline

[2021-07-07 13:05] szlatkow opened #173 "Add GitHub Codespaces configuration"
- [GitHub Codespaces](https://github.com/features/codespaces) is a configurable cloud development environment available in your browser on GitHub or through Visual Studio Code.

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](h

[2021-08-04 23:37] tnguyen-ornl opened #176 "Provide libLLVM runtime for linux-musl RID"
If using Alpine Linux, the libLLVM runtime for ubuntu would be selected.
The ubuntu's `libLLVM.so` is not compatible with musl-based distributions.

Would you please consider adding libLLVM runtime for `linux-musl` RID?

[2021-08-24 20:52] yowl opened #177 "Are the v11 dependencies ok?"
If I look at the dependencies at https://nuget.info/packages/libLLVM/11.0.0 I see for arm64:

[code]

However if I search nuget for `libLLVM.runtime` for this Rid I see:

![image](https://user-images.githubusercontent.com/2720041/130688236-5526c78c-046c-4d5b-95a3-26df227fbbc3.png)

I.e. no v11.

[2021-11-11 18:22] ryan-moreno opened #178 "LLVMModuleFlagBehavior enum values are all off by 1"
enums in C# start by assigning 0 by default, but the enum within LLVM native is defined as starting at 1. In the [documentation for native LLVM](https://llvm.org/docs/LangRef.html#module-flags-metadata), 1 maps to error, 2 maps to warning, etc. Also, in the native LLVM source code, the [exposed enum LLVMModuleFlagBehavior](https://github.com/llvm/llvm-project/blob/e356027016c6365b3d8924f54c33e2c63

[2021-11-11 23:20] tannergooding commented on #178
You are comparing the C++ enum vs the C# bindings which are over the C version of the enum: https://github.com/llvm/llvm-project/blob/llvmorg-12.0.1/llvm/include/llvm-c/Core.h#L398-L447

See also https://llvm.org/doxygen/group__LLVMCCoreTypes.html#gaa61633f872a8b3cbcbab5f5a96d3ce0f vs https://llvm.org/doxygen/classllvm_1_1Module.html#a0a5c55e12c97b80021330fe82b642293

If there is any error here, i

[2021-11-12 17:44] ryan-moreno commented on #178
You're right, thank you for pointing this out.

There are two different ways to add a module flag in LLVM Native: A) using LLVMAddModuleFlag (which expects a 0-based LLVMModuleFlagBehavior) and B) using LLVMAddNamedMetadataOperand (which expects a 1-based behavior represented by a unit). LLVMSharp does expose LLVMModuleFlagBehavior but doesn't expose LLVMAddModuleFlag (which is the only place the

[2021-11-12 17:44] #178 closed

[2021-11-12 17:49] tannergooding commented on #178
That sounds reasonable. I'm assuming, however, you mean `LLVMModuleRef.AddModuleFlag` like the PR has now.

Notably, it does expose `LLVM.AddModuleFlag` already, it just wasn't visible as a method on the helper `LLVMModuleRef` struct.

[2021-11-12 18:17] ryan-moreno commented on #178
@tannergooding yes, I meant exposing the functionality of LLVMAddModuleFlag within LLVMModuleRef. Here's the [PR](https://github.com/microsoft/LLVMSharp/pull/181) I created. Thanks for your feedback!

[2021-11-14 21:38] PaddiM8 opened #182 "Silent crash when outputting as object file, but works to output IR files and use llc manually"
Calling LLVM functions sometimes causes the program to crash abruptly with no feedback whatsoever (exit code 0 even). Now, this usually happens when something is being done *wrongly*, but right now I'm experiencing a crash like this at `LLVM.TargetMachineEmitToFile` caused by some code elsewhere, but outputting LLVM IR and then compiling that using `llc` works fine.

I have found that the followin

[2021-11-14 21:48] #182 closed

[2022-02-06 08:09] RecursiveDescent opened #188 "Linking external native functions"
So I'm working on a compiler where I am trying to generate a linux executable, and I've got the object file generating as well as linking it with libc.

But no matter what I try I can't get LLVMSharp to generate an external symbol.

I would think this is how I'm supposed to do it but there must be something I'm missing, since llvm isn't even generating the symbol at all when I run `strings` on it.

[2022-02-06 08:22] #188 closed

[2022-02-06 19:23] tannergooding commented on #188
Absolutely no worries. Everyone misses stuff at times and I've opened plenty of similar issues in my time <3

[2022-03-25 18:07] tannergooding opened #190 "Upgrade to LLVM 14.0"
LLVM 14.0.0 was released recently (https://github.com/llvm/llvm-project/releases/tag/llvmorg-14.0.0) and as such the repo should be updated to support it.

As part of this effort, additional care should be taken to ensure new dependencies such as libclang-cpp are available via the default NuGet package.

[2022-04-13 23:00] #190 closed

[2022-04-13 23:00] tannergooding commented on #190
This was completed and packages are on NuGet.

[2022-05-11 16:50] LifeIsStrange opened #192 "C++/CLI Linux support"
Plz?

[2022-08-09 20:09] AnErrupTion opened #194 "LLVM converts integer types to floats"
Hey!

I'm making a compiler which will use LLVM as its backend. But while I was doing some tests, I saw that LLVM, for some reason, was transforming any integer types (i8, i16, i32 or i64) to floats (more precisely, ``ppc_fp128``). But some other types like double work and are not converted to floats (since doubles can hold decimals already).

What I don't understand is that I'm not using any deci

[2022-08-10 15:09] tannergooding commented on #194
Could you clarify which version of LLVMSharp you're using?

For reference, this is incorrect usage and likely and I'm actually surprised its producing IR at all:
* `LLVMConstReal` just calls `ConstantFP::get(RealTy, N)`: https://llvm.org/doxygen/IR_2Core_8cpp_source.html#l01396
* This in turn ends up calling `FV.convert(Ty->getScalarType()->getFltSemantics(), APFloat::rmNearestTiesToEven, &ignored

[2022-08-10 16:03] AnErrupTion commented on #194
I'm using LLVMSharp 14.0.0-beta1 from NuGet.

I'm fairly new to LLVM in general, so I just guessed how to use it. And documentation doesn't really help in *my* case, as I'm not actually making an AST or anything, I'm transforming the bytecode to LLVM IR.

So I guess it's not how you create constant values. So yeah, it doesn't generate any error or anything. For reference (which may or may not help

[2022-08-10 16:11] tannergooding commented on #194
Thanks! That all lines up then. I'm unsure why its not erroring, as it really should be.

I'll leave this issue open to track adding some diagnostics on the LLVMSharp side to help catch some of these issues. The raw `LLVM.RealConst` wouldn't expose them, but I can expose it via `LLVMValueRef.CreateConstReal` which is a "safer" (but still lowlevel) wrapper over the raw bindings.

[2022-09-15 20:13] danielo-unity3d opened #195 "libLLVM.so not found"
The readme says:
[code]
But attempting to run the tests (`dotnet test` in `tests/LLVMSharp.UnitTests`, running on Ubuntu 20.04) produces:
[code]
After performing a restore, where exactly should `libLLVM.so` be found? (nothing is installed by the restore command)

Note: I installed clang/llvm on my system using `sudo apt install clang-12 llvm-12-dev lldb-12`

[2022-09-15 20:22] danielo-unity3d commented on #195
Further note: this is fixed with the following command:
[code]
However, I didn't expect to have to install llvm/clang (on the system) in order to be able to use LLVMSharp from a project.

[2022-09-15 20:42] danielo-unity3d commented on #195
What also fixes the problem, is to change `libLLVM-11.so` to `libLLVM-12.so` in [TryResolveLLVM](https://github.com/dotnet/LLVMSharp/blob/main/sources/LLVMSharp.Interop/Extensions/LLVM.ResolveLibrary.cs#L37), but this is also less than ideal.

[2022-09-16 15:47] danielo-unity3d commented on #195
Possibly related: [ClangSharp #118](https://github.com/dotnet/ClangSharp/issues/118)

[2022-10-03 15:04] CWKSC opened #199 "HelloWorld example implementation"
I am an LLVM beginner and trying to transform LLVM C++ API to LLVMSharp in my project (suffering from C++ and CMake)

So I am implementing a HelloWorld example with LLVMSharp for learning, but there are some things wrong

I create a console program with .NET 7 by Visual Studio 2022 Preview

I install LLVMSharp and libLLVM by NuGet, and add `<RuntimeIdentifier Condition="'$(RuntimeIdentifier)' == '

[2022-10-03 16:30] CWKSC commented on #199
I forgot GEP, fix it:

[code]

Result:

[code]

[code]

Sorry to bother you, awesome C#!

[2022-10-03 17:49] CWKSC opened #200 "System.EntryPointNotFoundException of LLVM.InitializeNativeAsmPrinter()"
[code]

![image](https://user-images.githubusercontent.com/53114952/193643506-c155ffaf-3fb1-4c14-95b4-e6a82b87540f.png)

[code]

[code]

[2022-10-04 04:55] CWKSC commented on #199
I fix with removing libLLVM 15.0.0 and only installing LLVMSharp.

The program looks like using libLLVM 5.0.0, It is not normal, so I reopen it.

I guess the problem is related to the creation of a const global string.

[2022-10-04 05:49] CWKSC commented on #199
I downgrade until libLLVM 14.0.0 and its work

By check out [LLVM 15.0.0 ReleaseNotes](https://releases.llvm.org/15.0.0/docs/ReleaseNotes.html#changes-to-the-c-api)

Find that LLVM 15.0.0 has some changes of C API, but I don't see anything affecting this, `BuildGlobalStringPtr` should be still working

[2022-10-06 17:32] tannergooding commented on #200
Hmmm, this does appear to be missing from the exports in the official `LLVM-C.dll` binary.

[2022-10-27 15:18] AnErrupTion opened #202 "std::bad_alloc + seg fault when creating function"
Hello!

I'm encountering a very weird error when using those bindings. If I create an empty module then dump it, it works fine:
[code]

But as soon as I add a function like this, before dumping:
[code]

It crashes and seg faults like this:
[code]

I've never encountered this, and in fact, it only seems to happen with those bindings, as the ``llvm-sys`` Rust bindings work just fine. I've tried LLVM

[2022-10-28 18:20] tannergooding commented on #202
I'll try to take a look this weekend. Might end up having to debug into libLLVM to see what's failing on the native side.

[2022-10-30 15:32] dylanrafael05 opened #203 "Newlines not working correctly on Windows when calling .Dump() or .PrintToXX()"
Hey dev team! I've been using LLVMSharp to create my own programming language for a few days new, and am still learning the ropes so it is definitely possible that I have made a mistake or have otherwise messed up but I don't think that my code could result in an error like the one I am seeing.

The gist of what's happening is that calling `LLVMModuleRef.Dump()` appears to only place `'\n'` charac

[2022-11-07 16:17] tannergooding commented on #200
@CWKSC, just noticed but you're referencing `LLVMSharp 5.0.0`. Can you please update to v15.0.0

[2022-11-08 06:59] CWKSC commented on #200
Do you mean changing `LLVMSharp` from `5.0.0` to `15.0.0`

[code]

But the latest version of `LLVMSharp` is `5.0.0` in NuGet.

![image](https://user-images.githubusercontent.com/53114952/200493927-424f760a-590e-4582-a07d-3246f11ecc0a.png)

This will produce [NU1102 Unable to find package](https://learn.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1102?f1url=%3FappId%3DDev16IDEF1%26l%3

[2022-11-08 11:43] tannergooding commented on #200
The latest version  is 15.0.0-beta1: https://www.nuget.org/packages/LLVMSharp/15.0.0-beta1

It's not visible because you don't have the include pre-release check box checked.

The 5.0.0 version is over 5 years old and significantly out of date and while the new version is still marked "pre-release" it is generally better and overall more stable.

[2022-11-08 12:28] tannergooding commented on #200
Yes. The entire API surface was redone to be more correct, have fewer breaking changes, and to be blittable.

[2022-11-09 08:15] #200 closed

[2022-11-12 11:27] AnErrupTion commented on #202
@tannergooding Any news?